/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
	from { background:#ccc; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#ccc; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#ccc; }
  to 	{ width:0; background:transparent; }
}