.container{
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 100%;
}
.header{
	width: 100%;
	background-color: #fff;
	ul{
		list-style: none;
		padding-left: 0;
		padding-right: 0;
		margin: 30px auto;
		display: flex;
		li{
			flex-grow:1;
			text-align: center;

			a{
				@include Roboto_light;
				text-transform: uppercase;
				color: $header_color;
				font-size: $header_size;
				&:hover{
					text-decoration: none;
					color: $header_hover;
				}

			}

		}
	}
}
