 @font-face {
     font-family: "Panton";
     src: url('../fonts/pantom/PantonLight.eot');
     src: url('../fonts/pantom/PantonLight.eot?#iefix') format('embedded-opentype'), url('../fonts/pantom/PantonLight.woff') format('woff'), url('../fonts/pantom/PantonLight.svg#PantonLight') format('svg');
     font-weight: 300;
     font-style: normal;
}
 @font-face {
     font-family: "Panton";
     src: url('../fonts/pantom/PantonRegular.eot');
     src: url('../fonts/pantom/PantonRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/pantom/PantonRegular.woff') format('woff'), url('../fonts/pantom/PantonRegular.svg#PantonRegular') format('svg');
     font-style: normal;
     font-weight: 400;
}
 @font-face {
     font-family: "Panton";
     src: url('../fonts/pantom/PantonSemiBold.eot');
     src: url('../fonts/pantom/PantonSemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/pantom/PantonSemiBold.woff') format('woff'), url('../fonts/pantom/PantonSemiBold.svg#PantonSemiBold') format('svg');
     font-style: normal;
     font-weight: 600;
}
 @font-face {
     font-family: "Panton";
     src: url('../fonts/pantom/PantonBold.eot');
     src: url('../fonts/pantom/PantonBold.eot?#iefix') format('embedded-opentype'), url('../fonts/pantom/PantonBold.woff') format('woff'), url('../fonts/pantom/PantonBold.svg#PantonBold') format('svg');
     font-style: normal;
     font-weight: 700;
}
 @font-face {
     font-family: "Panton";
     src: url('../fonts/pantom/PantonExtraBold.eot');
     src: url('../fonts/pantom/PantonExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/pantom/PantonExtraBold.woff') format('woff'), url('../fonts/pantom/PantonExtraBold.svg#PantonExtraBold') format('svg');
     font-style: normal;
     font-weight: 900;
}
 @font-face {
     font-family:'Roboto';
     src: url('../fonts/roboto/Roboto-Light.eot');
     src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
     font-weight: 300;
     font-style: normal;
}
 @font-face {
     font-family: "Oswald";
     src: url('../fonts/oswald/OswaldRegular.eot');
     src: url('../fonts/oswald/OswaldRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/OswaldRegular.woff') format('woff'), url('../fonts/oswald/OswaldRegular.svg#OswaldRegular') format('svg');
     font-style: normal;
     font-weight: 400;
}
 @font-face {
     font-family: "Oswald";
     src: url('../fonts/oswald/Oswald/OswaldMedium.eot');
     src: url('../fonts/oswald/OswaldMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald/OswaldMedium.woff') format('woff'), url('../fonts/oswald/OswaldMedium.svg#OswaldMedium') format('svg');
     font-style: normal;
     font-weight: 500;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?vjzus9');
    src:  url('../fonts/icomoon/icomoon.eot?vjzus9#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?vjzus9') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?vjzus9') format('woff'),
      url('../fonts/icomoon/icomoon.svg?vjzus9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
    [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

    .icon-beach:before {
    content: "\e904";
    }
    .icon-geo:before {
    content: "\e905";
    }
    .icon-open-pool:before {
    content: "\e906";
    }
    .icon-parking:before {
    content: "\e907";
    }
    .icon-pool:before {
    content: "\e908";
    }
    .icon-wifi:before {
    content: "\e909";
    }
    .icon-woman-head:before {
    content: "\e90a";
    }
    .icon-phone:before {
    content: "\e903";
    }
    .icon-arrow:before {
    content: "\e902";
    }
    .icon-checkbox:before {
    content: "\e901";
    }
    .icon-check:before {
    content: "\e900";
    }