//custom  ui kit

//подложка
.uk-overlay-primary{
background: linear-gradient(-71deg, #503392 0%, #673ab7 49%, #00bff3 100%)!important;
opacity: 0.8;
}

//слаидер навигешен
.uk-dotnav>*>*{
	width:8px!important;
	height:7px!important;
	border:none!important;
}
.uk-dotnav>* {
	margin-left: 6px;
    border-radius: 10px;
    padding-left: 0!important;
}

.slider-nav{
	//активнный навигации єлемент слаидера
.uk-active > * {
	background-color: #fff!important;
}
    bottom: 3%!important;


}

.uk-position-center{
	    top: 46%!important;
}

// єлемент слаидера 2
.slideshow-nav__product {
	padding-top:20px!important;
	li{
		background-color: #d7d7d7;
		a{
			border:none;
		}
	}
// активнный єлемент навигации слаидера 2
.uk-active{
		background-color: #503392;
	}

}
// чекбок формы
.uk-checkbox{
	width:23px!important;
	height:23px!important;
}

// хедр дропдовн
.uk-dropdown{
background-color: rgba(0, 0, 0, 0.5)!important;
border-top: 2px solid #fff200;
	
}
// хедр дропдовн нав
.uk-dropdown-nav{
	    flex-direction: column;

	    li{


	    	a{
	    		color: #fdfdfd!important;
			font-size: 14px!important;

          &:hover{
            color: #fff200!important;
          }
          &:before{
      font-family: 'icomoon' !important;
       content: "\e900";
      font-size: 14px;
      }


			
	    	}
	    }
	    // активный элемент дропдовн
	    .uk-active{
	    	a{
	    		color: #fff200!important;
	    	}
	    	

	    }

}

.activ{
	margin-left:5px;
	&:before{
	content: "\e901"!important;
	padding-right:5px;
	
	}
}

.uk-dropdown-right-top{
	left: 190px!important;
}
.uk-dropdown-bottom-left{
	left:200px!important;
    top: 120px!important;

}
 .overflow {
    overflow:hidden;
}