header{
top: 0;
position: fixed;
width: 100%;
z-index: 16;
background-color:#fff;
}
.header{
min-height: 70px;
display:flex;
align-items: center;
.logo{
@include size(5.8);
@include size-xs(5);
}
.menu{
@include size(6.8);
@include size-xs(7);
nav{
@media  screen and (max-width: 992px) {
justify-content: center;
}
display:flex;
align-items: center;
ul{
@media  screen and (max-width: 992px) {
display: none;
}
list-style: none;
padding-left: 0;
margin-bottom: 0;
display:flex;
width: 100%;
li{
flex-grow:1;
a{
color: #232323;
letter-spacing: 0.64px;
font-size: 16px;
@include lato_regular();
}
}
}
}
}
//поиск
.search{
.uk-search{
.uk-search-icon-flip{
color: #222;
right: 14px;
svg{
width:13px;
height:13px;
}
}
input{
background-color: rgba(141, 120, 183, .2);
outline:none;
color: #222;
height: 31px;
}
@include xxs-block(){
  width:100%;
  margin-left:10px;
}
}
}

}
//гамбургер
.navbar-toggle {
	@include xxs-block(){
  margin-left:21px;
}
position: relative;
top: 0px;
right: 0px;
z-index: 17;
cursor: pointer;
display: block;
}
.bar {
transition: all 0.3s ease-in-out;
//гамбургер кастом
.hamburger{
position:relative;
z-index:15;
outline:none;
padding:0;
padding-top:10px;
&-inner{
width:23px;
height:2px;
background-color: #333333;
&:after{
width:23px;
height:2px;
background-color: #333333;
}
&:before{
width:23px;
height:2px;
background-color: #333333;
}
}
}
.hamburger-box{
	width:23px;
}

}
//мольное меню
.menu-mobile{
@media  screen and (min-width: 992px) {
display: none;
}
.nav-hide{
display: none;
}
.navmobile {
nav{
align-items:center;
flex-wrap:wrap;
font-size:25px;
position: fixed;
z-index:16;
background: #fff;
opacity: 0.9;
width:100vw;
height:100vh;
color:#222;
text-align: center;
left:0;
margin:0;
}
&__vertical{
display: flex;
flex-wrap:wrap;
height: 100%;

text-transform: uppercase;
}
&__links{
align-self: center;
list-style:none;
padding:0;
margin:0;
margin-top: -94px;
width:100%;
flex-direction: column;
li{
margin-bottom: 35px;

}
a{
font-size: 26px;
letter-spacing: 1.5px;
transition: all 0.3s ease-in-out;
color: #000;
&:hover{
text-decoration: none;
}

}
}

}
}

//активное страницы
nav > ul li a.active {
color:#000!important;
font-weight: 700!important;
}
