/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'PT Sans';
  src: url("./fonts/PTSans-Regular.eot");
  src: url("./fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/PTSans-Regular.woff2") format("woff2"), url("./fonts/PTSans-Regular.woff") format("woff"), url("./fonts/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT Sans';
  src: url("./fonts/PTSans-Bold.eot");
  src: url("./fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/PTSans-Bold.woff2") format("woff2"), url("./fonts/PTSans-Bold.woff") format("woff"), url("./fonts/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  background: #f0f0f0 url(../img/bg_header.jpg) no-repeat left top;
  width: 100%;
  min-width: 320px;
  text-align: left;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-order: 1;
  box-sizing: border-box; }

html {
  font-size: 10px; }

img {
  max-width: 100%; }

a {
  color: #000; }

::-webkit-input-placeholder {
  color: #ccc; }

::-moz-placeholder {
  color: #ccc; }

:-ms-input-placeholder {
  color: #ccc; }

::-ms-input-placeholder {
  color: #ccc; }

::placeholder {
  color: #ccc; }

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  margin-bottom: 8px; }
  .top__Search {
    min-width: 221px;
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(70.83333% - 30px);
    color: #b9b8bd; }
    @media screen and (max-width: 991px) {
      .top__Search {
        width: calc(58.33333% - 30px); } }
    .top__Search_input {
      font-size: 1.4rem;
      margin-top: 0px;
      width: 90.5%;
      height: 3.8rem;
      max-width: 100%;
      border-radius: 4px;
      border: 1px solid #b9b8bd;
      color: #222;
      background-image: url(../img/seach.png);
      background-repeat: no-repeat;
      background-position: 98%;
      padding-right: 30px;
      padding-left: 9px;
      box-sizing: border-box;
      text-overflow: ellipsis; }
  .top .telefone {
    max-width: 100%;
    font-size: 2.2rem;
    font-family: "PT Sans", sans-serif;
    -webkit-transform: scaleY(1.0128);
    -ms-transform: scaleY(1.0128);
    transform: scaleY(1.0128);
    width: calc(33.33333% - 30px);
    text-align: right;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    margin-right: 0;
    margin-top: 4px;
    -webkit-flex-basis: 293px;
    -ms-flex-preferred-size: 293px;
    flex-basis: 293px;
    text-align: left; }
    @media screen and (max-width: 991px) {
      .top .telefone {
        width: calc(37.5% - 30px); } }
  .top__services {
    max-width: 100%;
    -webkit-transform: scaleY(1.0128);
    -ms-transform: scaleY(1.0128);
    transform: scaleY(1.0128);
    line-height: 13px;
    font-size: 1.3rem;
    padding: 0px; }
  .top__arrival {
    width: calc(20% - 30px);
    text-align: right;
    color: #cb944c;
    -webkit-transform: scaleY(1.0128);
    -ms-transform: scaleY(1.0128);
    transform: scaleY(1.0128);
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    margin-left: 8px;
    -webkit-flex-basis: 218px;
    -ms-flex-preferred-size: 218px;
    flex-basis: 218px;
    font-size: 1.3rem; }

.logo {
  width: calc(35% - 30px);
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 100%;
  margin-top: 4px; }
  .logo__text {
    color: #747688;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 25px; }
  .logo__img {
    min-width: 179px; }

.xs {
  background-color: #fff;
  padding: 20px 0 20px 0px; }
  .xs__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(50% - 30px);
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (max-width: 576px) {
      .xs__mobile {
        width: calc(66.66667% - 30px); } }
  .xs__logo {
    min-width: 192px;
    height: 23px;
    margin-bottom: 5px; }
  .xs__text {
    font-size: 12px; }

/*-----------nav---------*/
.bottom {
  font-family: "PT Sans", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #dddfdf;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  /*nav-list*/
  /*nav-sabmenu*/
  /*------------------nav-market--------------*/ }
  .bottom__link {
    color: #171717;
    padding-bottom: 10px; }
  .bottom__navbar {
    position: relative;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-right: 9px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .bottom__navbar:last-child {
      margin-right: 0; }
  .bottom__list {
    font-weight: 700;
    color: #666666;
    list-style: none;
    padding: 10px 0px 15px 0; }
  .bottom__list_item {
    padding-left: 17px;
    position: relative; }
    .bottom__list_item:hover {
      background: #f0f0f0; }
  .bottom__list_link {
    background: url(../img/circle.png) no-repeat 0px 15px, no-repeat url(../img/right.png) 200px 15px;
    padding: 10px 10px 10px 15px;
    display: block;
    text-transform: none;
    color: #666666;
    font-size: 15px; }
  .bottom__submenu_list {
    color: #34383d;
    text-transform: none;
    padding-left: 17px;
    position: relative; }
    .bottom__submenu_list:before {
      border-radius: 50%;
      border: 1px solid #cb944c;
      width: 4px;
      height: 4px; }
  .bottom__submenu_link {
    color: #666666;
    background: url(../img/circle.png) no-repeat 0px 15px;
    padding: 10px 10px 10px 15px;
    display: block; }
  .bottom__submenu_taitel {
    color: #cb944c;
    font-weight: 700;
    padding-left: 17px; }
  .bottom .border__nav_top {
    border-top: 1px solid #dddfdf;
    width: 100%; }
  .bottom .border__nav_bottom {
    border-bottom: 1px solid #dddfdf;
    width: 100%; }
  .bottom__market {
    text-align: right;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0.6;
    -webkit-flex-grow: 0.6;
    -ms-flex-positive: 0.6;
    flex-grow: 0.6;
    padding-top: 15px;
    padding-bottom: 6px; }
    .bottom__market_quantitu {
      font-weight: 700;
      color: rgba(255, 255, 255, 0.88);
      background: url(../img/carzina.png) no-repeat 0px 4px, url(../img/circle-tovar.png) no-repeat 31px 4px;
      padding: 5px 5px 5px 35px; }
    .bottom__market_goods {
      font-weight: 700;
      -webkit-transform: scaleY(1.0128);
      -ms-transform: scaleY(1.0128);
      transform: scaleY(1.0128);
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-left: 5px; }
    .bottom__market_item {
      color: #252a54;
      font-size: 1.6rem; }
  .bottom__login {
    font-weight: 700;
    text-transform: uppercase;
    background: url(../img/user.png) no-repeat 0px 12px;
    padding: 13px 0 14px 14px;
    margin-left: 25px; }
    .bottom__login_enter {
      font-size: 1.6rem;
      color: #252a54;
      padding-left: 10px; }

.bottom__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
  background: #f0f0f0 !important;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 14px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /*nav-sabmenu*/ }
  .bottom__navigation:before {
    content: "\f0ca";
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 5px;
    margin-top: 1px;
    width: 19px;
    color: #cb944c; }
  .bottom__navigation .list_activ {
    position: relative;
    z-index: 4; }
    .bottom__navigation .list_activ:hover > ul {
      visibility: visible;
      opacity: 1; }
  .bottom__navigation .fa-angle-down {
    color: #cb944c;
    font-weight: 700;
    margin-left: 6px; }
  .bottom__navigation .nav_active {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: -34px;
    width: 242px;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 1px solid #dddfdf;
    opacity: 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 3px 1px 0px rgba(108, 104, 104, 0.33); }
  .bottom__navigation .bottom__submenu {
    top: -10px;
    left: 223px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
    font-weight: 700;
    color: #666666;
    list-style: none;
    padding: 10px 0px 15px 0; }

/*nav-mobile*/
.nav {
  display: none;
  position: absolute; }

.mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*nav-toggul*/
#mobile__menu_button, .cont-btn {
  cursor: pointer;
  display: block;
  background-color: #3eade2;
  width: 54px;
  height: 40px; }

.cont-btn a {
  display: block;
  position: relative;
  padding-top: 16px; }

.cont-btn a:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0.8em;
  width: 1.3em;
  height: 0.09em;
  background: #fff;
  box-shadow: 0 0.6em 0 0 #fff, 0 1.2em 0 0 #fff; }

.menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .menu__home {
    background: url(../img/mobile-icon/home.png) no-repeat center; }
  .menu__seach {
    background: url(../img/mobile-icon/seach.png) no-repeat center; }
  .menu__shop {
    background: url(../img/mobile-icon/carzin.png) no-repeat center; }
  .menu__user {
    background: url(../img/mobile-icon/user-2.png) no-repeat center; }
  .menu__phone {
    background: url(../img/mobile-icon/phone.png) no-repeat center; }
  .menu .acc {
    width: 100%;
    min-width: 30px;
    min-height: 40px;
    cursor: pointer; }
    .menu .acc:hover {
      background-color: white;
      outline: 1px #ccc; }
  .menu .tab {
    width: 95%;
    position: absolute;
    top: 44px;
    text-align: right; }
    .menu .tab .input-mobile {
      height: 40px;
      width: 92%; }
      @media screen and (max-width: 576px) {
        .menu .tab .input-mobile {
          width: calc(100% - 30px); } }
      @media screen and (max-width: 766px) {
        .menu .tab .input-mobile {
          width: calc(75% - 30px); } }
  .menu .mobile-telefon {
    font-size: 36px; }
    .menu .mobile-telefon a {
      font-size: 24px; }

body {
  background-color: #ecf0f1;
  left: 0;
  overflow-x: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

/******/
.cont-nav, .cont-navLeft, .cont-navRight {
  background-color: #f0f1f6;
  height: 100%;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.cont-navLeft {
  left: -200px; }

.cont-navRight {
  right: -200px; }

.nav-menu {
  margin: 0;
  padding: 0; }
  .nav-menu li {
    border-bottom: 1px solid #cccc; }
    .nav-menu li .link__mobile {
      display: block;
      padding: 21px 0px 19px 11px;
      width: 185px; }

.nav-menu li:last-child {
  border: none; }

/* Push body and nav */
.push-left {
  left: -200px; }

.openLeft {
  left: 0; }

.openRight {
  right: 0; }

.push-right {
  left: 200px; }

.submenu_mobile {
  left: 176px !important;
  background-color: #f0f1f6 !important; }
  .submenu_mobile .bottom__submenu_list:hover {
    color: #fff; }

.btn {
  padding: 16px; }

/*-----------------------end--------------------*/
@media screen and (max-width: 1200px) {
  .bottom__market {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 19px;
    padding-top: 0px; }
  html {
    font-size: 9px; }
  .top {
    margin-bottom: 0; } }

@media screen and (max-width: 991px) {
  .top__Search_input {
    width: 100%;
    background-size: 11px;
    font-size: 1.3rem;
    min-width: 193px; }
  .top__Search {
    min-width: 193px; }
  .top .telefone {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-size: 1.7rem;
    min-width: 120px;
    margin-left: 10px;
    -webkit-transform: scaleY(1.228);
    -ms-transform: scaleY(1.228);
    transform: scaleY(1.228);
    margin-top: 6px;
    font-weight: bold;
    padding-top: 3px; }
  html {
    font-size: 8.3px; }
  .logo__text {
    font-size: 1.5rem; }
  .top__services {
    font-size: 1.2rem; }
  .top__arrival {
    font-size: 1.2rem;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    min-width: 107px; }
  .bottom__market_quantitu {
    padding: 4px 2px 5px 26px;
    background: url(../img/carzina.png) no-repeat 0px 4px, url(../img/circle-tovar.png) no-repeat 23px 4px;
    background-size: 17px;
    font-size: 11px; }
  .bottom__market_goods {
    margin: 0; }
  .bottom__login {
    margin-left: 20px; }
  .bottom__login {
    padding: 11px 0 14px 14px;
    background-size: 17px; } }

@media screen and (max-width: 766px) {
  .bottom {
    display: none; }
  .top {
    display: none; }
  .bottom__market {
    display: none; }
  .bottom__navigation:before {
    content: ""; }
  .bottom__list_item {
    padding-left: 0; }
  .bottom__list_link {
    margin-left: 14px; } }

@media screen and (min-width: 767px) {
  #mobile__menu_button {
    display: none; }
  .mobile {
    display: none; }
  .menu {
    visibility: hidden; }
  .xs {
    display: none; }
  .openLeft {
    left: -200px; }
  .web.push-right {
    left: 0; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  background: #000 url(../img/bg_footer.jpg) no-repeat left top;
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -webkit-order: 3; }

* {
  box-sizing: initial; }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1240px;
  padding: 0 40px 0 40px;
  margin: 0 auto; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-order: 2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: #fff000; }

/*------------Slider-------------*/
.slider {
  max-width: 1354px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: inherit !important;
  font-family: "PT Sans", sans-serif;
  /*------------Slider-dots-------------*/
  /*------------Slider-arrows-------------*/ }
  @media screen and (max-width: 991px) {
    .slider {
      padding-left: 35px;
      padding-right: 35px; } }
  @media screen and (max-width: 766px) {
    .slider {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 576px) {
    .slider {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 380px) {
    .slider {
      padding-left: 20px;
      padding-right: 20px; } }
  .slider__1 {
    position: relative;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 400px; }
  .slider__text {
    position: absolute;
    background-color: rgba(210, 166, 107, 0.88);
    width: 445px;
    top: 30%;
    font-size: 4.2rem;
    padding: 20px 30px 20px 27px;
    left: 5.3%;
    color: white;
    font-weight: 400; }
  .slider .slick2 {
    min-height: 124px; }
  .slider .slick-dots {
    width: 94.5%;
    bottom: -65px; }
  .slider .slick-dots li button:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #cb944c;
    border-radius: 50%; }
  .slider .slick-prev, .slider .slick-next {
    z-index: 2;
    background-color: rgba(210, 166, 107, 0.88);
    width: 37px;
    height: 40%; }
  .slider .slick-prev {
    left: 40px; }
    .slider .slick-prev:hover {
      background: rgba(255, 255, 255, 0.88); }
    .slider .slick-prev:before {
      content: "\f053";
      display: inline-block;
      font: normal normal normal 25px/2 FontAwesome;
      text-rendering: auto;
      margin-right: 5px; }
    .slider .slick-prev:hover:before {
      color: #cb944c; }
  .slider .slick-next {
    right: 40px; }
    .slider .slick-next:hover {
      background: rgba(255, 255, 255, 0.88); }
    .slider .slick-next:before {
      content: "\f054";
      display: inline-block;
      font: normal normal normal 25px/2 FontAwesome;
      text-rendering: auto;
      margin-top: 1px; }
    .slider .slick-next:hover:before {
      color: #cb944c; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (max-width: 1200px) {
  .slider__text {
    font-size: 3.3rem;
    width: 32.8%;
    height: auto; } }

@media screen and (max-width: 991px) {
  .slider__text {
    font-size: 2.7rem;
    left: 8.3%; }
  .slick-prev {
    left: 35px !important; }
  .slick-next {
    right: 35px !important; } }

@media screen and (max-width: 766px) {
  .slick-prev {
    left: 20px !important; }
  .slick-next {
    right: 20px !important; }
  .slider__text {
    font-size: 2.2rem;
    padding: 1% 2% 1% 2%;
    width: 220px;
    top: 34%; } }

@media screen and (max-width: 575px) {
  .slick1 {
    display: none !important; }
  .slider__text {
    font-size: 1.8rem;
    left: 13.3%;
    width: 191px;
    top: 33%; }
  .menu .mobile-telefon a {
    font-size: 11px; }
  .tab {
    width: 55%; } }

@media screen and (min-width: 576px) {
  .slick2 {
    display: none !important; } }

@media screen and (max-width: 380px) {
  .slider__text {
    font-size: 1.8rem;
    left: 11.3%; }
  .slider .slick-prev:before,
  .slider .slick-next:before {
    font: normal normal normal 14px/2 FontAwesome; }
  .slider .slick-prev, .slider .slick-next {
    width: 6%;
    height: 26%; }
  .slider__text {
    padding: 3% 2% 3% 2%;
    top: 31%; } }

@media screen and (max-width: 991px) {
  .wrapper {
    padding: 0 20px 0 20px; } }

/* reset */
/* main variables */
