
/*fonts*/
@font-face
{
    font-family: 'Lobster';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Lobster.eot');
    src: url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lobster.woff2') format('woff2'),
    url('../fonts/Lobster.woff') format('woff'),
    url('../fonts/Lobster.ttf') format('truetype');
}
.openSans
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.openSans-semibold
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.lobster
{
    font-family: 'Lobster';
    font-weight: 400;
}
/*basic-setting*/
@import url(../precss/smart-grid.less);
/*header*/
header
{
    .openSans;
    .top
    {
        margin-top: 17px;
        margin-bottom: 21px;
        .logo
        {
            .xs-block({
                text-align: center;
            });
        }
    }
    /*nav*/
    nav
    {
        align-self: flex-end;
        .telefone
        {
            font-size: 14px;

            margin-bottom: 15px;

            text-align: right;

            color: #000;

            .xs-block({
                display: flex;

                margin-top: 20px;

                justify-content: center;
                flex-wrap: wrap;
            });
            .openSans-semibold;
            &__red
            {
                color: red;
            }
            &__off
            {
                margin-left: 20px;
            }
        }
        .headerNav
        {
            font-size: 16px;

            display: flex;

            margin: 0;
            padding: 0;

            list-style: none;

            vertical-align: middle;

            .xs-block({
                flex-direction: column;

                flex-wrap: wrap;
                align-items: center;
            });
            justify-content: flex-end;
            li
            {
                margin-right: 6%;

                .xs-block({
                    margin: 0;

                    flex-grow: 1;
                });
                &:last-child
                {
                    margin-right: 0;
                }
                a
                {
                    color: #222;
                    &:hover
                    {
                        text-decoration: none;

                        color: red;
                    }
                }
            }
        }
    }
    /*nav-end*/
    .bg
    {
        display: flex;

        width: 100%;
        height: 700px;

        background: url(../img/bg-1.jpg) no-repeat center center;

        justify-content: center;
        align-items: center;
        img
        {
            max-width: 100%;
        }
    }
}

/*header-end*/
/*main*/
/*order*/
.order
{
    display: flex;

    width: 100%;
    margin-top: 23px;
    margin-bottom: 92px;
    padding: 0;

    text-align: center;

    flex-wrap: wrap;
    &__home
    {
        position: relative;
        top: 10px;

        align-self: flex-end;
        img
        {
            width: 425px;

            .md-block({
                max-width: 110%;
            });
            .xs-block({
                max-width: 100%;
            });
        }
    }
    &__left
    {
        img
        {
            .xs-block({
                max-width: 100%;
            });
        }
    }
    /*form*/
    &__form
    {
        max-width: 360px;
        margin-top: 60px;
        margin-left: -180px;

        text-align: center;

        border-radius: 10px;
        background-color: #eee3d3;

        .md-block({
            margin: 0 auto;
            margin-top: 40px;

            justify-content: center;
        });
        align-self: center;
        &_taitel
        {
            font-size: 30px;

            margin-top: 37px;

            .openSans-semibold;
        }
        &_text
        {
            font-size: 16px;
        }
        input
        {
            display: block;

            width: 100%;
            max-width: 320px;
            height: 40px;
            margin: 0 auto;
            margin-top: 14px;

            border: none;
            border-radius: 4px;
        }
        label
        {
            font-size: 16px;

            position: absolute;
            left: 30px;

            display: inline-block;

            margin-top: -32px;

            cursor: pointer;

            color: #222;
            span
            {
                color: red;
            }
        }
        input:focus + label
        {
            display: none;
        }
        button
        {
            font-size: 24px;

            width: 100%;
            max-width: 320px;
            margin-top: 20px;
            margin-bottom: 45px;
            padding-top: 10px;
            padding-bottom: 12px;

            cursor: pointer;

            color: #fff;
            border: none;
            border-radius: 4px;
            background-color: #ffad1e;

            .lobster;
        }
    }
    /*form-end*/
}
/*order-end*/
.service
{
    display: flex;

    width: 100%;
    height: 500px;

    color: #fff;
    background: url(../img/plashaka.jpg) no-repeat center center;
    background-size: cover;

    .md-block({
        height: 570px;
    });
    .sm-block({
        height: auto;
    });
    flex-wrap: wrap;
    .openSans;
    justify-content: center;
    &__taitel
    {
        text-align: center;

        align-self: flex-end;
        h3
        {
            font-size: 36px;
        }
    }
    &__item
    {
        display: flex;
        flex-direction: column;

        width: 300px;

        text-align: center;
        white-space: pre-line;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .openSans;
        .plashka
        {
            width: 96px;
            height: 96px;
            margin: 0 auto;
            margin-bottom: 27px;
        }
        span
        {
            font-size: 20px;

            .openSans-semibold;
        }
        p
        {
            font-size: 16px;

            margin-top: 20px;
        }
    }
}
/*order-end*/
/*proff*/
.proff
{
    display: flex;

    width: 100%;

    text-align: center;

    flex-wrap: wrap;
    justify-content: center;

    &__taitel
    {
        font-size: 36px;

        width: 100%;
        margin-top: 98px;
        margin-bottom: 20px;

        .openSans;
    }
    &__left
    {
        margin-right: 26px;

        .xs-block({
            width: 100%;
            margin: 0 auto;
        });
    }
    &__right
    {
        margin-left: 26px;

        .xs-block({
            width: 100%;
            margin: 0 auto;
        });
    }
    &__text
    {
        font-size: 20px;

        text-align: left;
        white-space: pre-line;

        .xs-block({
            text-align: center;
        });
        .openSans-semibold;
         span
        {
            img
            {
                margin-bottom: 10px;
            }
        }
        p
        {
            font-size: 16px;

            margin-top: 18px;

            color: #444;

            .openSans;
        }
    }
}
/*proff-end*/
/*grid*/
.grid
{
    display: flex;
    flex-direction: row;

    width: 100%;
    img
    {
        width: 100%;
        height: 100%;

        vertical-align: baseline;
    }
    &__left
    {
        width: 40%;

        .md-block({
            width: 60%;
        });
        .sm-block({
            width: 100%;
        });
    }
    &__right
    {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: auto;

        flex: 1 1 100%;
        align-content: flex-start;
    }
}
/*grid-end*/
/*product*/
.product
{
    width: 100%;
    &__taitel
    {
        margin-top: 105px;
        margin-bottom: 10px;

        text-align: center;

        color: #222;

        .openSans;
        h3
        {
            font-size: 36px;
        }
        span
        {
            color: red;
        }
    }
    &__flex
    {
        display: flex;

        padding: 0;

        list-style: none;

        flex-wrap: wrap;
        li
        {
            margin: 0 auto;
            margin-top: 20px;
            margin-right: 20px;

            text-align: center;
            @media (max-width: 1200px)
            {
                margin: 0 auto;
            }
            .items:hover .items__button
            {
                opacity: 1;
            }
            .items:hover .card
            {
                transform: translate(-50%, -50%) scale(1);
            }
            .card
            {
                font-size: 12px;

                position: absolute;
                top: 50%;
                left: 50%;

                width: 264px;
                height: 300px;

                transition: .3s ease-in-out;
                transform: translate(-50%, -50%) scale(0);
                white-space: pre-line;
                text-decoration: none;

                opacity: .85;
                border: 1px solid #ccc;
                background-color: #fff;

                .openSans-semibold;
                a
                {
                    margin-top: 24px;

                    text-decoration: none;

                    color: #666;
                }
                &__taitel
                {
                    font-size: 18px;
                    font-style: italic;
                }
            }
            img
            {
                display: block;
            }
            .line
            {
                position: relative;
                top: 40px;

                width: 100%;
                height: 10px;

                background: url(../img/product/line.png) no-repeat;
                background-size: cover;
            }
            .text
            {
                font-size: 20px;

                white-space: pre-line;

                color: #222;
                &__red
                {
                    color: red;
                }
            }
            &:last-child,
            &:nth-child(7)
            {
                align-self: flex-end;
                .items__button
                {
                    height: 300px;

                    justify-content: flex-end;
                }
            }
            .items
            {
                position: relative;

                display: flex;
                overflow: hidden;

                width: 264px;

                white-space: pre-line;

                justify-content: center;
                .openSans;
                p
                {
                    font-size: 12px;
                    font-style: italic;
                }
                &__button
                {
                    display: flex;
                    flex-direction: column;

                    flex-wrap: wrap;
                }
                &__taitel
                {
                    position: relative;
                    a
                    {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
/*product-end*/
/*request*/
.request
{
    position: relative;

    width: 100%;
    margin-top: 40px;

    background: url(../img/house.jpg)  no-repeat center ;
    background-color: rgba(0,0,0,.5);
    background-size: cover;

    background-blend-mode: darken;
    .content
    {
        display: flex;

        width: 100%;
        height: 700px;

        .md-block({
            height: auto;
            margin-top: 30px;
            margin-bottom: 30px;

            flex-wrap: wrap;
        });
        align-content: center;
        &__left
        {
            color: #fff;

            .openSans-semibold;
             align-self: center;
        }
        &__text
        {
            font-size: 26px;

            white-space: pre-line;


            &_red
            {
                padding: 6px;

                background: red;
            }
        }
        ul
        {
            font-size: 20px;

            margin-top: 20px;

            list-style-image: url(../img/icon/ver.png);
            li
            {
                margin-top: 10px;
            }
        }
        &__form
        {
            width: 100%;
            margin: 0;

            .md-block({
                justify-content: center;
            });
            justify-content: flex-end;
            align-self: center;
            input
            {
                border: #ccc 1px solid;
            }
            &_item
            {
                margin: 0;

                background: #fff;
            }
        }
    }
}
/*request-end*/
/*price*/
.price
{
    display: flex;

    text-align: center;

    background: url(../img/bg.png) no-repeat center;

    flex-wrap: wrap;
    justify-content: center;
    &__taitel
    {
        font-size: 16px;

        width: 100%;
        margin-top: 97px;
        margin-bottom: 49px;

        .openSans;
        h3
        {
            font-size: 36px;
            span
            {
              
                color: red;
            }
        }
        &_red
        {
            color: red;
        }
    }
    img
    {
        max-width: 100%;
    }
    &__left
    {
        margin-right: 15px;
        margin-left: 15px;
    }
    &__right
    {
        margin-right: 15px;
        margin-left: 15px;
        @media (max-width: 1200px)
        {
            margin-top: 30px;
        }
    }
}
/*price-end*/
/*producer*/
.producer
{
    width: 100%;
    padding-bottom: 100px;

    text-align: center;

    background: url(../img/bg-2.jpg) no-repeat center;
    background-size: cover;
    &__taitel
    {
        width: 100%;
        margin-bottom: 49px;
        padding-top: 97px;

        .openSans;

        h3
        {
            font-size: 36px;

            margin-bottom: 30px;

            .xs-block({
                font-size: 30px;
            });
            span
            {
                font-size: 36px;

                color: red;

                .xs-block({
                    font-size: 30px;
                });
            }
        }
        span
        {
            font-size: 20px;

            .openSans-semibold;
        }
    }
    &__item
    {
        ul
        {
            display: flex;

            padding: 0;

            list-style: none;

            justify-content: center;
            flex-wrap: wrap;
            li
            {
                margin-right: 7%;

                .md-block({
                    margin: 0;

                    flex-grow: 1;
                });
                &:last-child
                {
                    margin-right: 0;
                    @media (max-width: 680px)
                    {
                        margin-top: 20px;
                    }
                }
                &:nth-child(3)
                {
                    @media (max-width: 514px)
                    {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
/*producer-end*/
/*about*/
.about
{
    display: flex;

    margin-bottom: 75px;

    flex-wrap: wrap;
    justify-content: center;
    .openSans;

    &__taitel
    {
        font-size: 36px;
    }
    &__text
    {
        -webkit-mask-image: -webkit-gradient(linear, left -26%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
    #block
    {
        display: none;
    }
    #button-check
    {
        font-size: 16px;

        padding-right: 20px;
        padding-left: 20px;

        cursor: pointer;

        background: url(../img/arrow.png) no-repeat right ;
    }

    .color-norm
    {
        -webkit-mask-image: -webkit-gradient(linear, left 100%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
}
/*about-end*/
/*places*/
.places
{
    display: flex;

    width: 100%;
    height: 600px;

    .sm-block({
        height: auto;

        flex-wrap: wrap;
        justify-content: center;
    });

    &__map
    {
        width: 100%;
        padding: 0;

        .sm-block({
            height: 460px;
        });
        .size-sm(12);
    }
    &__dispatch
    {
        margin: 0;

        background: url(../img/homese.jpg) no-repeat center center;

        .size-sm(12);
        .sm-block({
            padding-bottom: 40px;
        });
        &_item
        {
            margin: 0;
            margin-left: 7%;

            background: #fff;

            .size-sm(12);
            input
            {
                border: 1px #ccc solid;
            }
        }
    }
}
/*places-end*/
/*footer*/
footer
{
    display: flex;

    width: 100%;

    background-color: #222;
    section
    {
        display: flex;

        height: 199px;

        .sm-block({
            height: auto;
            margin-top: 40px;
            margin-bottom: 40px;

            flex-wrap: wrap;
        });
    }
    .telefone
    {
        font-size: 16px;

        display: flex;

        text-align: center;

        color: #bdbdbd;

        flex-wrap: wrap;
        justify-content: center;
        .sm-block({
            margin-bottom: 30px;
        });
        .size-sm(12);
        .openSans;
        span
        {
            margin-right: 10px;

            white-space: pre-line;
        }
        p
        {
            width: 100%;
            margin: 0;

            justify-item: flex-end;
            align-self: flex-end;
        }
    }
    .avada
    {
        font-size: 14px;

        display: flex;

        color: #fff;

        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        .size-sm(12);
        span
        {
            white-space: pre-line;
        }
    }
    .logo
    {
        display: flex;

        .size-sm(12);
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
}
.scrollup
{
    position: fixed;
    z-index: 10;
    right: 7%;
    bottom: 73px;

    display: none;

    width: 40px;
    height: 40px;

    text-indent: -9999px;

    opacity: .3;
    background: url('../img/arrow2.png') no-repeat;

    .sm-block({
        bottom: 150px;
    });
}

@media (max-width: 768px)
{
    .container
    {
        max-width: 720px;
    }
}
