@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?q5fcjx');
    src: url('../fonts/icomoon.eot?q5fcjx#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?q5fcjx') format('truetype'),
        url('../fonts/icomoon.woff?q5fcjx') format('woff'),
        url('../fonts/icomoon.svg?q5fcjx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search-1:before {
    content: "\e900";
    color: #244690;
}

.icon-shopping-cart:before {
    content: "\e901";
    color: #fff;
}

.icon-layers:before {
    content: "\e902";
}

.icon-law:before {
    content: "\e903";
    color: #fff;
}

.icon-heart:before {
    content: "\e904";
    color: #fff;
}

.icon-Group_345:before {
    content: "\e905";
}

.icon-Group_357:before {
    content: "\e906";
}

.icon-mail:before {
    content: "\e907";
    color: #fff;
    font-size: 11px;
    margin-right: 6px;
}

.icon-Path_4:before {
    content: "\e908";
    color: #fff;
    margin-right: 8px;
}

.icon-Path_234:before {
    content: "\e909";
    color: #4d4d4d;
}

.icon-Path_606:before {
    content: "\e90a";
    color: #707070;
}

.icon-Path_622:before {
    content: "\e90b";
    color: #fff;
}

.icon-Path_669:before {
    content: "\e90c";
    color: #4d4d4d;
}

.icon-wats:before {
    content: "\e914";
    color: #4d4d4d;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}



/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

