/* reset */
$min-width: 320px; 
$max-width: 1560px; 
$color-active: #F9A030;
$hover: darken(#F9A030,10%);
$custom-font-family: Roboto, arial, sans-serif;
$color1: #555759;
$color2: #16C1F3;
$text-color: #000;
$default-transition:all 0.2s linear;