//main styles
.main-wrapper {
    padding: 0 0 0 0;
  
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

.wrapper {
    min-width: $min-width;
    max-width: $max-width;
    padding: 0px 10px 0 10px;
    margin: 0 auto;
    position: relative;
}


/* titles */

p {
    @include font($base-font-size, $base-line-height, $text-color);
    padding: 15px 0 15px 0;
    font-weight: 400;
}

h1 {
    @include font($font-size-h1, $line-height-h1, $title-color);
    font-family: $title-font-family;
    padding: 15px 0 15px 0;
    font-weight: 400;
}

h2 {
    @include font($font-size-h2, $line-height-h2, $title-color);
    font-family: $title-font-family;
    padding: 15px 0 15px 0;
    font-weight: 400;
}

h3 {
    @include font($font-size-h3, $line-height-h3, $title-color);
    font-family: $title-font-family;
    padding: 15px 0 15px 0;
    font-weight: 400;
}





/* text position */

.text-left {
    text-align: left!important
}

.text-center {
    text-align: center!important
}

.text-right {
    text-align: right!important
}

.nowrap {
    white-space: nowrap!important;
}





/* loader */

.loaded .main-wrapper {
    visibility: hidden;
}

.icon-load {
    background: url(../img/loader.gif) no-repeat left top;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-left: -20px;
    display: none;
}

.loaded .icon-load {
    display: block;
}






/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.content {
    min-width: $min-width;
    text-align: left;
    width: 100%;
    order: 2;
    -webkit-order: 2;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    background: #fff;
}





/*flex-wrapper*/

.flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*title*/
    h2 {
        letter-spacing: -1.5px;
        @include Comfortaa;
        width: 100%;
        margin-bottom: 22px;
    }
}





/*filter-conainer*/
.content-nav {
    max-width: 270px;
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fbfbfb;
    align-self: flex-start;
    margin-right: 10px;
}



/*filter-select*/

.filter-design {
    &:nth-child(2) {
        .filter-design__vis {
            padding-right: 7px;
        }
        .filter-design__minVis {
            input {
                background-position: 92% 50%;
            }
        }
    }
    &:nth-child(3) {
        .filter-design__vis {
            padding-right: 7px;
        }
        .filter-design__minVis {
            input {
                background-position: 92% 50%;
            }
        }
    }
    &__vis {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #e1e1e1;
        p {
            letter-spacing: 0.14px;
            color: #343434;
            font-size: 14px;
            padding: 10.5px 0 10.5px 0;
            @include arialbold;
        }
    }
    &__minVis {
        display: flex;
        align-items: center;
        input {
            background: url(../img/icons/up.svg) no-repeat transparent;
            background-position: 95% 50%;
            max-width: 160px;
            height: 30px;
            padding-left: 10px;
            padding-right: 30px;
            font-size: 14px;
            @include OpenSansreg;
            letter-spacing: -0.7px;
            background-color: #f3f3f3;
            border: 1px solid #e1e1e1;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
            &:focus {
                background: url(../img/icons/down.svg) no-repeat transparent;
                background-position: 95% 50%;
            }
        }
        input::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
    &--active {
        text-align: center;
        letter-spacing: 0.13px;
        button {
            @include arialregular;
            border: none;
            background-color: transparent;
            font-size: 13px;
            color: #36a8bf;
            line-height: 24px;
            padding: 7px 0 7px 0;
        }
    }
    &__arrow {
        align-self: center;
        background-image: url(../img/icons/up.svg);
        width: 10px;
        height: 6px;
        &--active {
            background-image: url(../img/icons/down.svg);
        }
    }

    &__content {
        display: none;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        max-height: 180px;
        overflow: auto;
        border-bottom: 1px solid #e1e1e1;
        &--all {
            a {
                color: #39a6be!important;
            }
        }
        a {
            display: block;
            @include arialregular;
            padding: 7px 0 7px 0;
            font-size: 13px;
            color: #444444;
        }
    }
}

.product {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    width: 100%;
    
}
/*product-card*/
.product-item {
    margin-left: 17px;
    margin-right: 11px;
    max-width: 273px;
    min-width:253px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    height: 380px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    transition: 1s;
    /*product-card-hover*/
    &:hover {
        box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
        border: 1px solid #c2e8f0;
        .product-item__text {
            &--name {
                color: #23a2be;
            }
        }
    }
    &__img {
        position: relative;
        &--lable {
            position: absolute;
            @include OpenSansreg;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: -0.11px;
            color: #ffffff;
            background-color: #48b3cb;
            padding: 7px;
            border-radius: 3px;
            top: 12px;
            left: 13px;
        }
        &--lableHit {
            background-color: #ffae2e;
            padding: 9px;
        }
    }
    &__info {}
    &__stars {
        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            padding-top: 20px;
            li {
                padding-left: 2px;
                padding-right: 2px;
                img {
                    height: 16px;
                    width: 15px;
                }
            }
        }
    }
    &__text {
        text-align: center;
        &--name {
            font-size: 15px;
            color: #282828;
            letter-spacing: -0.15px;
            @include OpenSansreg;
            line-height: 20px;
            transition: .5s;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 13px;
            padding-bottom: 19px;
        }
        &--price {
            color: #282828;
            max-width: 79px;
            margin: auto;
            border-top: 1px solid #dbdbdb;
            font-size: 15px;
            letter-spacing: -0.15px;
            @include OpenSansbold;
        }
    }
    &:nth-child(n+4) {
        margin-top: 20px;
    }
}
/*slider setting*/
.product-title {
    margin-left: 27px;
    width: 100%;
    margin-top: 20px;
    h3 {
        @include OpenSansreg;
        font-size: 16px;
        letter-spacing: -0.16px;
        text-transform: uppercase;
        color: #282828;
    }
}

.product-slider {
    max-width: 900px;
    margin-left: auto;
    position: relative;
    .slick-dots {
        position: relative;
        bottom: 0;
        padding-top: 56px;
        max-width:80px;
        margin: auto;
        li {
            margin: 0;
        }
        .product-item:nth-child(odd) {
            margin-top: 0px;
        }
        .product-item:nth-child(even) {
            margin-top: 0px;
        }
    }
}
/*arrows slider*/
.arrows-slider__L {
    position: absolute;
    bottom: -2%;
    left: 40%;
    z-index: 1;
    cursor: pointer;
}

.arrows-slider__R {
    position: absolute;
    bottom: -2%;
    right: 40%;
    z-index: 1;
    cursor: pointer;
}

.slick-dots li.slick-active button:before {
    color: #e44256!important;
}




/*scroll bar setting color*/

.mCSB_dragger_bar {
    background-color: #93deff!important;
}

.mCSB_draggerRail {
    background-color: transparent!important;
}





/*adaptive*/

@media screen and (max-width: 1216px) {
    .content-nav {
        max-width: 670px;
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .product-slider {
        margin: auto;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 936px) {
    .product-title{
        text-align:center;
        margin-left:0;
        h3{

        }
    }

    .product-item {
        &:nth-child(n+3) {
            margin-top: 20px;
        }
    }
    .product-slider {
        margin: auto;
        .product-item {
            margin-left: 14px;
            margin-right: 14px;
            max-width: 470px;
            transition:none;
            &__img {
                img {
                    margin: auto;
                }
            }
        }
    }
    .product {
        .product-item {
            margin-left: 14px;
            margin-right: 14px;
            max-width: 370px;
            width: 100%;
            &__img {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 832px) {
    .product-item {
        &:nth-child(n+2) {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {
}
@media screen and (max-width: 900px) {
	.arrows-slider__L {
    bottom: -2%;
    left: 30%;
}

.arrows-slider__R {
    bottom: -2%;
    right: 30%;
  
}
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 640px) {
    .product-slider {
    	margin:auto;
        .product-item {
            margin-left: 80px;
            margin-right: 80px;
        }
         .product-item:nth-child(odd) {
            margin-top: 0px;
        }
        .product-item:nth-child(even) {
            margin-top: 0px;
        }
    }
}
@media screen and (max-width: 480px) {
    .flex-content{
        text-align:center;
    }
    .product-slider {
        .product-item {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
     .arrows-slider__L {
    bottom: -2%;
    left: 4%;
}

.arrows-slider__R {
    bottom: -2%;
    right: 4%;
  
}
}
@media screen and (max-width: 380px) {
	.product-slider {
        
        .product-item {
            margin-left: 10px;
            margin-right: 10px;
           
           
        }
    }
    
   
}