@import "utils/_variables";
.bootstrap-select .dropdown-toggle:focus {
    outline-color: #f9a030 !important;
    border: none;
}

.bootstrap-select .dropdown-toggle:active {
    outline: none;
}

.row {
    flex-direction: row-reverse;
}

.procedures-services-wrapper {
    .row {
        flex-direction: row!important;
    }
}

.container-fluid {
    max-width: 1200px;
}

* {
    box-sizing: border-box;
    outline: none !important;
}

.container {
    position: relative;
    min-width: 320px;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "Panton", arial, sans-serif;
    min-width: 320px;
}

section {
    position: relative;
}

button {
    cursor: pointer;
}

a {
    color: $color2;
    transition: all .3s ease;
}

a:hover {
    color: $color2;
}

.btn:focus,
.btn:hover {
    box-shadow: none;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

.h2,
h2 {
    font-size: 36px;
    font-family: Panton;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #231F20;
}

.h3,
h3 {
    font-size: 36px;
    font-family: Panton;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #231F20;
    margin: 15px 0;
}

.button {
    background: $color-active;
    border-radius: 5px;
    padding: 0 15px;
    font-family: Panton;
    line-height: 45px;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in;
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: $hover;
        text-decoration: none;
        background: #ef8807;
    }
}

main {
    overflow: hidden;
}

.premial_block {
    text-align: center;
    position: relative;
    padding-top: 34px;
    z-index: 0;
}

.premial_block img {
    max-width: 100%;
    margin: 0 auto;
    img {
        height: 120px;
    }
}

.premial_block__header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    color: #231F20;
}

.premial_block__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    font-size: 15px;
    color: #231F20;
    min-height: 94px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    padding: 0 5px;
    letter-spacing: 0.4px;
}

.premial_block__subheader {
    font-family: "Panton";
    font-weight: 600;
    left: 0;
    right: 0;
    line-height: normal;
    font-size: 20px;
    color: #231F20;
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    padding: 0 0 0 40px;
    &:before {
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 20px;
        background: #fff url("../img/icons/circle.svg") center no-repeat;
        background-size: contain;
        vertical-align: middle;
        transform: translate(0, -50%);
    }
}

.premial_block__img {
    height: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.orange-text {
    left: 0;
    right: 0;
    font-weight: 500;
    margin: 0 auto;
    font-family: "Oswald";
    font-weight: 500;
    line-height: normal;
    font-size: 32px;
    color: $color-active;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/*premial slider*/

.premial_block {
    .slick-prev {
        left: 10px;
        z-index: 20;
    }
    .slick-next {
        top: 50%;
        right: 10px;
        z-index: 20;
    }
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.section_nine {
    background: url(../img/over-foo-bg-2.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-top: 29px;
    padding-bottom: 24px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}

.section_nine .section__title {
    margin: 0;
    text-align: center;
}

.section_nine .section__title {
    padding: 87px 0 0;
    color: #fff;
}

.section_nine form {
    margin-top: 45px;
    max-width: 100%;
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.section_nine input {
    min-width: 100px;
    width: 100%;
}

.section_nine .button_form {
    min-width: 100px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    &:hover {
        background: $hover;
        transition: 0.3s;
    }
}

.section__title_mt {
    margin-top: 86px;
}

.section__title_white {
    color: #fff;
}

.section__about {
    margin: 40px 0 0 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: "Panton";
}

.form {
    display: block;
    max-width: 925px;
    margin: 50px auto 0;
    width: 100%;
}

.form__input {
    line-height: 50px;
    height: 50px;
    min-width: 270px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.form__input::-webkit-input-placeholder {
    color: $color1;
    font-size: 18px;
}

.form__input::-moz-placeholder {
    color: $color1;
    font-size: 18px;
}

.form__input:-ms-input-placeholder {
    color: $color1;
    font-size: 18px;
}

.form__input::placeholder {
    color: $color1;
    font-size: 18px;
}

.button_form {
    margin-top: 2px;
    font-size: 18px;
    line-height: 45px;
    height: 45px;
    min-width: 230px;
    border-radius: 5px;
    color: #fff;
    font-family: "Panton";
    background: $color-active;
}

.all {
    margin-top: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.all__header {
    display: block;
    font-size: 18px;
    font-family: "Panton";
}

.all__subheader {
    font-size: 14px;
    font-family: "Panton";
}

.all__phone {
    margin-top: 20px;
    display: block;
    color: $color-active;
    font-size: 20px;
    font-family: "Panton";
}

.all__phone:hover {
    color: $color-active;
    text-decoration: none;
}

.country {
    margin-top: 159px;
    h3 {
        font-family: Panton;
        line-height: normal;
        color: #231F20;
        margin-bottom: 70px;
        text-align: center;
    }
}

.countru_box-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 20px 20px 55px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
    }
}

.krasnodar .country-box__link {
    text-align: left;
}

.krasnodar .countru_box {
    width: 22%;
    flex: 0 0 22%;
    max-width: 22%;
}

.krasnodar .countru_box:nth-child(1) {
    width: 33%;
    flex: 0 0 33%;
    max-width: 33%;
}

.krasnodar .countru_box:nth-child(1) .countru_box_sub_caption {
    text-align: left;
}

.krasnodar .countru_box:nth-child(2) {
    padding-left: 16px;
}

.krasnodar .countru_box:nth-child(2) .countru_box_sub_caption {
    text-align: left;
}

.krasnodar .countru_box:nth-child(3) {
    width: 25%;
    padding-left: 16px;
}

.krasnodar .countru_box:nth-child(3) .countru_box_sub_caption {
    text-align: left;
}

.krasnodar .countru_box:nth-child(4) {
    width: 18%;
    padding-left: 31px;
}

.krasnodar .countru_box:nth-child(4) .countru_box_sub_caption {
    text-align: left;
}

.moscow {
    .countru_box:nth-child(4) .country-box__list {
        padding-left: 62px;
        padding-bottom: 0
    }
}

.krum {
    background: url("../img/krum.png") center no-repeat;
    background-size: cover;
    padding-bottom: 15px
}

.kavminwater {
    background: url("../img/kavminwater.png") center no-repeat;
    background-size: cover;
}

.UK {
    background: url("../img/UK.png") center no-repeat;
    background-size: cover;
}

.krasnodar {
    background: url("../img/krasnodar.png") center no-repeat;
    background-size: cover;
}

.abhaziya {
    background: url("../img/abhaziya.png") center no-repeat;
    background-size: cover;
}

.belorus {
    background: url("../img/belorus.png") center no-repeat;
    background-size: cover;
}

.moscow {
    background: url("../img/moscow.png") center no-repeat;
    background-size: cover;
}

.altay {
    background: url("../img/altay.png") center no-repeat;
    background-size: cover;
}

.countru_box__subheader {
    font-size: 22px;
    margin-top: 15px;
}

.countru_box,
.country-box__list {
    position: relative;
    z-index: 0;
}

.countru_box__header {
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

.countru_box__header-1 {
    font-size: 22px;
    margin-top: 5px;
}

.countru_box_sub_caption {
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 12px;
}

.countru-box_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.krum .countru_box__header {
    font-size: 32px;
}

.krum .view_all {
    text-align: right;
    left: 21px;
    transform: none;
}

.countru-box_inner.countru_box_3 {
    padding: 0px 10px 0px 10px;
}

.countru_box_1 .countru_box {
    width: 100%;
    padding-top: 8px;
}

.countru_box_3 .countru_box:nth-child(1) {
    width: 46%;
}

.countru_box_3 .countru_box:nth-child(1) .countru-box__list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding-left: 40px;
}

.countru_box_3 .countru_box:nth-child(2) {
    width: 27%;
}

.countru_box_3 .countru_box:nth-child(2) .country-box__list {
    padding-left: 41px;
}

.countru_box_3 .countru_box:nth-child(3) {
    width: 27%;
    padding-left: 3px;
}

.countru_box_3 .countru_box:nth-child(3) .country-box__list {
    padding-left: 38px;
}

.abhaziya .countru_box__header {
    margin-bottom: 10px;
}

.country-box__list {
    display: inline-block;
    margin: 0 0 5px;
}

.krum .countru-box__list {
    padding-bottom: 0
}

.desktop_curort .countru-box__list-big {
    padding-left: 40px;
}

.country-box__item {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.country-box__link {
    font-family: Panton;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 9px;
    display: inline-block;
}

.country-box__link:hover {
    text-decoration: none;
}

.float_l {
    width: 100%;
    float: left;
}

.countru_box_1 .country-box__item {
    text-align: center;
}

.countru_box_1.kavminwater .country-box__link {
    margin-bottom: 13px;
}

.tablet-slider {
    display: none;
}

.slick-prev {
    width: 35px;
    height: 35px;
    background: #F3F3F3;
    background-size: cover;
    &:before {
        position: absolute;
        content: url(../img/arrow-prev.png);
        top: 9px;
        left: 12px;
    }
}

.slick-next {
    width: 35px;
    height: 35px;
    background: #F3F3F3;
    background-size: cover;
    right: calc(50% - 50px);
    top: auto;
    bottom: -15px;
    &:before {
        position: absolute;
        content: url(../img/arrow-next.png);
        top: 9px;
        left: 12px;
    }
}

.desktop_curort {
    .slick-prev {
        left: calc(50% - 50px);
        top: auto;
        bottom: -15px;
    }
    .slick-next {
        right: calc(50% - 50px);
        top: auto;
        bottom: -15px;
    }
    ul {
        padding-left: 0
    }
}

.view_all {
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: $color-active;
    z-index: 1
}

.view_all:hover {
    color: $color-active;
    text-decoration: underline;
}

.open .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    border: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
    padding-left: 10px;
    cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: $color1;
}

.bootstrap-select.btn-group .dropdown-menu li:hover {
    background: $color-active;
}

.bootstrap-select.btn-group .dropdown-menu li:hover span {
    color: #fff;
}

.countru_box_3 .view_all {
    right: 85px;
    bottom: 25px;
    width: auto;
    left: auto;
}

.write-us__link:before {
    content: '';
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    margin: 0 auto 10px;
}

.telegram_bg:before {
    background-image: url("../img/telegram.png");
}

.facebook_bg:before {
    background-image: url("../img/facebook-bg.png");
}

.viber_bg:before {
    background-image: url("../img/viber.png");
}

.countru_box ul {
    list-style: none;
}

.countru_box a {
    color: #fff;
    &.view_all {
        color: $color-active
    }
    &:hover {
        color: $color-active;
        text-decoration: none
    }
}

.popular__img,
.news__img {
    display: block;
    overflow: hidden;
    margin-bottom: 25px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        background: inherit;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 0;
        transition: transform .3s ease-in;
    }
    &:hover {
        &:before {
            transform: scale(1.05);
        }
    }
}

.news {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 44px;
    .slick-arrow {
        top: 150px;
        z-index: 20;
    }
    .slick-prev {
        left: 15px;
    }
    .slick-next {
        right: 15px;
    }
}

.news__header {
    margin-top: 59px;
    margin-bottom: 50px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.news__block {
    position: relative;
}

.news__block img {
    height: 100%;
    width: 100%;
}

.news__img {
    display: block;
    height: 270px;
    width: 100%;
    margin-bottom: 0
}

.news__picture {
    position: relative;
    display: block;
    overflow: hidden;
    &:hover {
        .news__img {
            transform: scale(1.1);
        }
    }
}

.news__text {
    font-family: "Panton";
    font-weight: 600;
    position: absolute;
    color: #fff;
    padding: 8px 10px 13px 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(35, 31, 32, 0.45);
    line-height: 1.2;
}

.news__txt {
    margin: 10px 0 5px 0;
    color: #231F20;
    color: #555759;
    font-size: 15px;
    line-height: 19px;
    font-family: "Panton";
    font-weight: 300;
}

.news__link {
    margin-top: 5px;
    color: $color-active;
    font-size: 14px;
    text-decoration: underline;
    font-family: "Panton";
    font-weight: 600;
    &:hover {
        text-decoration: none;
    }
}

.news__link:hover {
    color: $color-active;
}

.news__data {
    display: block;
    font-size: 14px;
    float: right;
    color: $color1;
    color: #231F20;
}

.news__button {
    display: block;
    margin: 70px auto 0;
    line-height: 45px;
    max-width: 230px;
    padding-top: 0;
    padding-bottom: 0
}

.news__button:hover {
    color: #fff;
}

.popular-bottom {
    margin-top: 116px
}

.popular__title {
    font-size: 32px;
    margin-bottom: 71px;
    font-family: Panton;
}

.popular__span {
    color: $color-active;
    font-family: "Panton";
    font-weight: 600;
}

.slick-slide {
    padding: 0 15px;
}

.review .slick-arrow {
    background: transparent;
}

.review .slick-prev {
    height: 40px;
    width: 40px;
    top: auto;
    left: 0;
    right: 95px;
    margin: 0 auto;
    bottom: -111px;
    border-radius: 50%;
    z-index: 100;
    border: 2px solid $color-active;
}

.review .slick-prev::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 23px;
    width: 12px;
    top: 7px;
    left: 10px;
    background: url("../img/left.png") no-repeat;
}

.review .slick-next {
    height: 40px;
    width: 40px;
    top: auto;
    left: 26px;
    right: 0;
    margin: 0 auto;
    bottom: -111px;
    border-radius: 50%;
    z-index: 100;
    border: 2px solid $color-active;
}

.review .slick-next::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 23px;
    width: 12px;
    top: 7px;
    left: 14px;
    background: url("../img/right.png") no-repeat;
}

.review {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 79px;
    margin-top: 111px
}

.review__header {
    margin: 0 0 4px;
    transform: translateX(-19px);
}

.review__subheader {
    color: #231F20;
    font-family: "Panton";
    text-align: center;
    transform: translateX(-19px);
    font-size: 30px;
    margin-bottom: 53px;
}

.review__block {
    display: block;
    margin: 0 -15px;
    width: calc(100% + 30px);
    .slick-track,
    .owl-stage {
        display: flex;
    }
    .slick-slide,
    .owl-item {
        height: auto;
    }
}

.review__item {
    height: 100%;
    margin: 0 15px;
}

.review__name {
    display: block;
    position: relative;
    font-size: 24px;
    color: #231F20;
    font-family: "Oswald";
}

.avatar {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.review__author {
    display: flex;
    align-items: center;
    .avatar {
        margin-right: 10px;
    }
}

.review__text {
    margin-top: 12px;
    padding: 18px 20px 26px;
    line-height: 22px;
    color: #231F20;
    font-family: "Roboto";
    font-weight: 300;
    box-sizing: border-box;
    background: rgba(242, 242, 242, 0.5);
    height: calc(100% - 36px);
    border-radius: 10px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        border: 9px solid transparent;
        display: block;
        border-bottom: 14px solid rgba(242, 242, 242, 0.5);
        width: 0;
        height: 0;
        top: -18px;
        left: 70px;
    }
}

.review__txt {
    margin: 128px 0 0 0;
    color: #231F20;
    font-size: 24px;
    text-align: center;
    font-family: "Panton";
}

.review__link {
    margin-top: 34px;
    display: block;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    color: #231F20;
    border: 1px solid $color-active;
    border-radius: 5px;
    &:hover {
        background: $color-active;
        color: #fff;
        text-decoration: none;
    }
}

.write-us__link {
    color: #fff;
    font-size: 14px;
    &:hover {
        color: $color-active;
        text-decoration: none
    }
}

.social_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 230px;
    margin: 28px auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.we_help {
    text-align: center;
    margin-bottom: 83px;
    padding-top: 50px;
}

.we_help h3 {
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.write-us__subheader {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 24px;
}

.write-us-wrapper {
    flex-wrap: nowrap;
}

.write-us {
    background: url("../img/wtite-we.png") center no-repeat;
    background-size: cover;
    padding-bottom: 55px;
    padding: 55px 30px 55px 30px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
        z-index: 0;
    }
    >* {
        position: relative;
        z-index: 1
    }
}

.write-us__header {
    font-family: Panton;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.we_help .col-12:first-child a:hover,
.we_help .col-6:first-child a:hover {
    text-decoration: none;
}

.we_help .yellow_link {
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    color: $color-active;
    &:hover {
        color: $color-active;
        text-decoration: none;
    }
}

.facebook_bg {
    margin-left: 40px;
    margin-right: 40px;
}

.callback__header {
    font-family: Panton;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    color: #231F20;
    margin-top: 24px;
    margin-bottom: 50px;
}

.form-block input,
.form-block textarea {
    width: 100%;
    background: #F2F2F2;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 14px 10px;
    border: none;
    font-family: Panton;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: $color1;
    margin-top: 30px;
    &:first-child {
        margin-top: 0
    }
}

.form-block input::-webkit-input-placeholder,
.form-block textarea::-webkit-input-placeholder {
    font-family: Panton;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: $color1;
}

.form-block input::-moz-placeholder,
.form-block textarea::-moz-placeholder {
    font-family: Panton;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: $color1;
}

.form-block input:-ms-input-placeholder,
.form-block textarea:-ms-input-placeholder {
    font-family: Panton;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: $color1;
}

.form-block input::placeholder,
.form-block textarea::placeholder {
    font-family: Panton;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    color: $color1;
}

.consultation-form textarea {
    height: 100%;
}

.consultation-form .button {
    margin-top: 50px;
    padding: 0 15px;
}

.why {
    background: url("../img/why-bg.png") center no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 1px;
}

.why .row {
    margin-bottom: 40px;
}

.why h3 {
    margin-bottom: 50px;
    margin-top: 0;
}

.why-block {
    height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 50px 10px 15px 10px;
    transition: box-shadow .3s ease-in;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }
}

.row-why>* {
    margin-bottom: 39px;
}

.why__img {
    position: relative;
    height: 90px;
    margin-bottom: 50px;
}

.why__img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* .why .row.second .why__img {
     margin-bottom: 40px;
}*/

.why__header {
    margin-bottom: 20px;
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 22px;
    color: #231F20;
}

.why__text {
    font-family: Panton;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    color: #231F20;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 57px;
    align-items: center;
}

.filter-region .dropdown-item.selected {
    &:hover {
        background: $hover;
        transition: 0.3s;
    }
}

.popular {
    text-align: center;
}

.popular h3 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.popular .popular__header {
    margin-top: 35px;
    font-size: 32px;
    margin-bottom: 72px;
}

.popular__city {
    font-family: Panton;
    line-height: normal;
    font-size: 18px;
    font-weight: 600;
    color: #231F20;
    margin-bottom: 11px;
    min-height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 30px;
}

.popular-block {
    background: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-bottom: 13px;
    overflow: hidden;
    height: 100%;
    transition: box-shadow .3s ease-in;
    &:hover {
        box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.15);
    }
}

.popular-block img {
    width: 100%;
    height: 210px;
    -o-object-fit: cover;
    object-fit: cover;
}

.popular .form-group {
    margin-bottom: 0.3rem;
}

.popular__subheader {
    margin-bottom: 30px;
    font-family: "Panton";
    font-weight: 600;
    line-height: normal;
    font-size: 20px;
    color: #231F20;
    min-height: 66px;
    padding-left: 13px;
    padding-right: 13px;
}

.popular__region {
    line-height: normal;
    font-size: 16px;
    color: #231F20;
    display: block;
    margin-bottom: 20px;
    a {
        color: inherit;
        &:hover {
            color: $color-active;
            text-decoration: none;
        }
    }
}

.popular div span:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 14px;
    vertical-align: top;
    background: url("../img/icons/pin.svg") center no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.popular__link {
    font-family: Panton;
    line-height: normal;
    font-size: 18px;
    color: $color-active;
    &:hover {
        color: $color-active;
    }
}

/*popular hotel slider*/

.popular-hotels {
    padding-bottom: 50px;
    .slick-next {
        right: 15px;
        top: 20%;
        z-index: 20;
    }
    .slick-prev {
        left: 15px;
        top: 20%;
        z-index: 20;
    }
    &.slick-slider {
        .slick-track {
            display: flex;
            flex-wrap: nowrap;
        }
        .slick-slide {
            float: none;
            padding-left: 15px;
            padding-right: 15px;
            flex: 0 0 auto;
            max-width: 100%;
        }
    }
}

.popular-hotels .popular-block {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
}

.slick-next:hover,
.slick-prev:hover {
    background: #f0f0f0;
    ;
}

.mobile_curort {
    display: none;
}

.scrollDisabled {
    overflow: hidden;
    position: fixed !important;
    margin-top: 0;
    width: 100%;
    z-index: 0;
    padding-right: 17px
}

.ios {
    padding-right: 0
}

@media screen and (min-width: 768px) {
    .filter-region {
        width: 100%;
        min-height: 1px;
        margin-bottom: 28px;
        .btn {
            display: none;
        }
        .dropdown {
            position: static;
        }
        .dropdown-menu {
            position: static !important;
            display: flex !important;
            float: none;
            border: 0;
            padding: 0;
            margin: 0 -15px 0;
            justify-content: space-between;
            flex-wrap: nowrap;
            transform: none !important
        }
        .dropdown-item {
            display: inline-block;
            margin-top: 34px;
            font-size: 16px;
            display: block;
            line-height: 30px;
            text-align: center;
            color: #231F20;
            border: 1px solid $color-active;
            border-radius: 5px;
            margin: 0 15px;
            &.selected {
                background: $color-active;
                color: #fff;
            }
            &:hover {
                background: $color-active;
                color: #fff;
            }
        }
    }
    .krum.krum_2 ul li {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .popular div p {
        min-height: auto;
    }
    .popular div .row p {
        min-height: 86px;
    }
    .countru_box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .countru_box_3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .countru_box h4 {
        font-size: 25px;
    }
    .review__txt {
        margin-top: 115px;
    }
}

@media screen and (max-width: 991px) {
    .search {
        margin: 0 auto;
    }
    .container {}
    .nav-pane {
        z-index: 100;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        max-width: 100%;
    }
    .footer__policy {
        right: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .premial_block span {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        display: block;
    }
    .premial_block div b {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 0 auto;
    }
    .popular div .row p {
        min-height: 110px;
    }
    .popular {
        padding-bottom: 15px;
    }
    .premial_block span {
        font-size: 16px;
    }
}

.responsive_menu {
    display: none;
}

@media screen and (min-width: 992px) {
    .write-us {
        margin-left: 0px;
        transform: translate(0, 0);
        width: calc(50% + 20px);
        max-width: calc(50% + 20px);
        flex: 0 0 calc(50% + 20px);
    }
}