.footer {
     display: inline-block;
     vertical-align: top;
     width: 100%;
     background: url("../img/footer.png") no-repeat;
     background-size: cover;
     box-sizing: border-box;
     position:relative;
     &:before{
          content:"";
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          background:rgba(0,0,0,0.8);

     }
}
 .footer__logo {
     display: block;
     max-width: 200px;
     margin: 40px auto 10px;
     -webkit-transform: translateX(-30px);
     -ms-transform: translateX(-30px);
     transform: translateX(-30px);
}
 .footer__img {
     display: block;
     height: auto;
     width: auto;
     max-width: 100%;
}
 .footer__phone {
     margin-top: 17px;
     position: relative;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     padding-left: 23px;
     color: #fff;
     font-family: "Panton";
     position: relative;
}
 .footer__img {
     content: '';
     display: inline-block;
     position: absolute;
     width: 21px;
     top: 50%;
     transform: translate(0,-50%);
     left: -5px;
}
 .footer__ph {
     display: block;
     margin-bottom: 10px;
     &:last-child {
          margin-bottom: 0;
     }
     a {
          color: inherit;
          &:hover {
               text-decoration:  none;
          }
     }
}


 .footer__list {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     -ms-flex-align: start;
     align-items: flex-start;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     margin: 0 0 21px 0;
     padding: 0;
     list-style: none;
}
 .footer__list_mt {
     margin-top: 40px;
}
 .footer__name {
     display: block;
     margin-bottom: 5px;
     font-size: 17px;
     color: #fff;
     font-family: "Panton";
     font-weight: 600;
}
 .footer__link {
     display: block;
     font-family: Panton;
     margin-bottom: 10px;
     color: #fff;
     line-height: 19px;
     font-size: 15px;
     font-family: "Panton";
     font-weight: 600;
}
 .footer__link:hover {
     color: $color2;
     text-decoration: none
}
 .footer__info {
     margin-bottom: 30px;
     color: #fff;
     text-align: right;
     &:last-child {
        margin-bottom: 20px
     }
}
 .footer__info_mt {
     margin-top: 40px;
}
 .footer__text {
     margin: 10px 0 5px 0;
     font-size: 14px;
     font-family: "Panton";
}
 .footer__lin {
     display: block;
     font-size: 14px;
     color: #fff;
     text-decoration: underline;
}
 .footer__lin:hover {
     color: #16C1F3;
}
 .footer__bottom {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     border-top: 1px solid #fff;
}
 .footer__txt {
     margin: 15px 0 15px 0;
     color: #fff;
     text-align: center;
     font-size: 14px;
     font-family: Panton;
     font-weight: 300;
}
 .footer__policy {
     position: absolute;
     top: 15px;
     right: 0;
     color: #fff;
     text-decoration: underline;
     font-family: Panton;
     font-weight: 300;
     line-height: normal;
     font-size: 12px;
     color: #FFFFFF;
}
 .footer__policy:hover {
     color: #16C1F3;
}
 .footer__backcall {
     display: block;
     line-height: 40px;
     max-width: 180px;
     margin: 28px auto 0;
     -webkit-transform: translateX(-40px);
     -ms-transform: translateX(-40px);
     transform: translateX(-40px);
}
.footer-row {
     margin-bottom: 10px
}
 .soc {
     margin-top: 30px;
     display: block;
     color: #fff;
     text-align: center;
     font-family: "Panton";
     -webkit-transform: translateX(-40px);
     -ms-transform: translateX(-40px);
     transform: translateX(-40px);
}
 .soc__name {
     margin-top: 70px;
     display: block;
     position: relative;
     color: #fff;
     font-size: 14px;
     text-align: center;
}
 .soc__name:hover {
     color: #fff;
     text-decoration: none;
}
 .soc__name:before {
     content: '';
     display: inline-block;
     position: absolute;
     height: 35px;
     width: 35px;
     top: -44px;
}
 .soc__name_yout::before {
     right: 10px;
     background: url("../img/youtube.png") no-repeat;
}
 .soc__name_faceb::before {
     left: 12px;
     background: url("../img/facebook.png") no-repeat;
}
 .soc__name_right {
     margin-right: 42px;
     text-align: right;
}
 .soc__name_left {
     margin-left: -42px;
     text-align: left;
}
 .first-list-wrapper {
     margin-top: 40px;
     -webkit-transform: translateX(-20px);
     -ms-transform: translateX(-20px);
     transform: translateX(-20px);
}
 .first-list-wrapper .footer__list:nth-child(1) .footer__link {
     margin-bottom: 11px;
}
 .first-list-wrapper .footer__list:nth-child(2) {
     margin-bottom: 14px;
}
 .first-list-wrapper .footer__list:nth-child(2) .footer__link {
     margin-bottom: 9px;
}
 .second-list-wrapper {
     margin-top: 40px;
     -webkit-transform: translateX(-5px);
     -ms-transform: translateX(-5px);
     transform: translateX(-5px);
}
 .second-list-wrapper .footer__list:nth-child(1) .footer__link {
     margin-bottom: 8px;
}
 .second-list-wrapper .footer__list:nth-child(2) {
     margin-bottom: 20px;
}
 .second-list-wrapper .footer__list:nth-child(2) .footer__link {
     margin-bottom: 8px;
}
 .third-list-wrapper {
     margin-top: 40px;
}
 .third-list-wrapper .footer__info:nth-child(1) {
     margin-bottom: 24px;
}
 .third-list-wrapper .footer__info:nth-child(1) p {
     margin-top: 0px;
}
 .third-list-wrapper .footer__info:nth-child(2) {
     margin-bottom: 24px;
}
 .third-list-wrapper .footer__info:nth-child(2) p {
     margin-top: 5px;
}
 .documents {
     margin-bottom: 30px;
}
 .third-list-wrapper .footer__info:nth-child(3) p {
     margin-top: 5px;
}
 .third-list-wrapper .footer__info:nth-child(4) {
     margin-bottom: 22px;
}
 .third-list-wrapper .footer__info:nth-child(4) p {
     margin-top: 5px;
}
 .third-list-wrapper .footer__info:nth-child(5) {
     margin-bottom: 0;
}
 .third-list-wrapper .footer__info:nth-child(5) p {
     margin-top: 5px;
}

.tablet-show {
    display: none;
}

.footer-all-news{
     display:none;
}

.footer__list_bottom{
    margin-bottom:10px;
}


@media screen and (max-width: 991px){
     .footer-row {
        margin-bottom: 0px;
    }
     .footer__list.tablet-show{
          text-align:center;
     }

     .third-list-wrapper{
          display:flex;
          flex-direction:column;
     }

     .third-list-wrapper .tablet-show{
          order:1;
     }
    
    .documents{
     order:3;
     text-align:center;
     margin:13px auto 25px;
    }

    .third-list-wrapper .ofice{
     order:2;
     text-align:center;
    }

    .footer__logo {
        margin-bottom: 0;
        margin-top: 29px;
        text-align: center;
        transform: translateX(0); 
        img {
            max-height: 97px;
            display: inline-block;
        }
    }
    .third-list-wrapper {
        margin-top: 33px;
    }



    .footer__link {
        font-size: 18px;
    }
    .footer__link {
        margin-bottom: 14px
    }
    .footer__phone {
        margin-right: -16px
    }
    .footer-row {
        margin-left: -10px;
        margin-right: -19px;
    }
    .footer__backcall {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 225px;
        line-height: 46px;
        transform: translate(0,0);
        margin-top:23px;
    }

    
    .soc {
        transform: translate(0,0);
    }
    .soc__name_right {
        margin-left: auto;
        margin-right: auto;

    }
    .soc__name_right, .soc__name_left {
        text-align: center;
    }
    .soc__name_left {
        margin-left: 0
    }
    .soc__name_yout::before, .soc__name_faceb::before {
        left: 50%;
        transform: translate(-50%,0);
    }
    .footer__phone {
        margin-top: 27px;
    }
    .footer__ph {
        margin-bottom: 6px;
    }
    .footer__bottom {
        text-align: center;
        padding-bottom: 25px
    }
    .footer__policy {
        position: static;
    }
    .footer__txt {
        margin-bottom: 0
    }

    .footer__name{
          font-size:16px;
    }
}



@media only screen and (max-width: 767px){
     .footer__logo {
        text-align: center;
             margin-bottom: 21px;
         margin-top: 47px;
         transform: translateX(0);
        img {
            display: inline-block;
            max-height: 97px
        }
    }
    .footer__ph {
        margin-bottom: 7px
    }
    .footer__backcall {
        font-size: 16px;
        line-height: 40px;
        margin-top: 25px;
        max-width: 160px
    }
     .d_n {
         display: none;
    }
    .third-list-wrapper {
        margin-top: 47px
    }
     .footer__list_mt {
         display: block;
    }
    .footer__bottom {
        margin-top: 9px
    }
     .footer__phone {
         display: inline-block;
         text-align: center;
         min-width: 183px;
        margin-right: 0;
         display: table;
         margin:12px auto 13px;
         text-align: center;
         position:relative;
         &:before{
            position:absolute;
            left:-30px;
            top:22px;
         }
    }
     .footer__list_mt {
         text-align: center;
    }
     .footer__info {
         text-align: center;
    }
     .footer__txt {
         text-align: center;
         font-size: 11px;
            margin-top: 9px;
            margin-bottom: 3px;
    }
     .footer__policy {
         position: relative;
         top: auto;
         right: auto;
         text-align: center;
         width: 100%;
         display: inline-block;
         margin-bottom: 10px;
    }
    .footer-row {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }


    .footer__link{
        font-size:18px;
        margin-bottom:13px;
    }

    .footer__img{
        margin: 0 auto;
        img {
            width: 19px;
        }
    }
    
    
     .footer__list_mt {
         display: block;
    }
     .d_n {
         display: none;
    }
    
    .footer__phone_three{
        &:before{
            position:absolute;
            left:-30px;
            top:4px;
         }
    }

    .footer__phone_four{
        &:before{
            position:absolute;
            left:-30px;
            top:1px;
            height:20px;
         }
    }
    .footer__ph{
        font-size:16px;
        margin-bottom:8px;
    }
     .footer__phone {
         padding-left: 0;
    }
    
     .footer__list_mt {
         text-align: center;
    }
     .footer__info {
         text-align: center;
    }
     .footer__txt {
         text-align: center;
         margin-top: 10px;
         margin-bottom: 10px;
         font-size:10px;
    }
     .footer__policy {
         position: relative;
         top: auto;
         right: auto;
         text-align: center;
         width: 100%;
         display: inline-block;
         margin-bottom: 10px;
    }

    .footer__bottom{
        margin-top:3px;
    }
}


@media only screen and (max-width: 320px){
     .footer__phone::before {
         top: 2px;
         left: 24%;
    }
}
