@import "utils/_variables";

.logo_mob {
    display: none
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    background: transparent !important;
}
@media only screen and (max-width: 1330px){
    .section_nine form{
        transform: translateX(0);
    }
}

@media only screen and (max-width: 991px){
    .orange-text:before{
        top:11px;
    }
}

@media only screen and (max-width: 767px) {

     .owl-carousel .col{
          padding: 0 15px;
     }


     .owl-carousel5{
        padding-bottom: 50px;
        margin-bottom: 40px;
     }

     .popular.popular-bottom{
        padding-bottom: 15px;
        margin-bottom: 0;
     }


    .orange-text:before{
        top:9px;
    }
   
    
    .button_form {
        line-height: 40px;
        height: 40px
    }
         .form__input::-webkit-input-placeholder {
             font-size: 16px;
        }
         .form__input::-moz-placeholder {
             font-size: 16px;
        }
         .form__input:-ms-input-placeholder {
             font-size: 18px;
        }
         .form__input::placeholder {
             font-size: 16px;
        } 
        .soc {
            margin-top: 37px;
        }   
        .soc__name {
            margin-top: 61px;
        }
     .responsive_menu {
         display: block;
         position: absolute;
         right: 15px;
         width: 35px;
         line-height: 0;
         top: 8px;
         cursor: pointer;
    }
     .responsive_menu span {
         display: inline-block;
         width: 100%;
         height: 4px;
         background: #fff;
         line-height: 1;
         margin-bottom: 2px;
         margin-top: 2px;
         border-radius: 3px;

         transition: all .5s;
    }
     
     .responsiv_open {
         display: initial !important;
    }
     .responsive_menu_open span:first-child {
         transform: rotate(-45deg);
         position: absolute;
         top: 8px;
         right: 0px;
    }
    .popular__img, .news__img {
        height: 210px;
    }
        .popular-block, .news__block {

       max-width: 345px;
        margin-left: auto;
        margin-right: auto;
    }
     .responsive_menu_open span:nth-child(2) {
         display: none;
    }
     .responsive_menu_open span:last-child {
         position: absolute;
         transform: rotate(45deg);
         top: 8px;
         right: 0px;
    }
     .slick-slide img {
         margin: 0 auto;
    }

    .premial_block{
        padding-top:27px;
    }
     .premial_block p {
         max-width: 80%;
         min-height: auto;
         margin-bottom: 50px;
    }

    .premial_block__img{
        height:100px;
        transform: scale(0.8);
    }
    
     .premial_block span {
         margin-top: 0;
         margin-bottom: 20px;
    }

    .premial_block__header{
        font-size:16px;
        margin-bottom:16px;
    }
     .premial_block .slick-prev, .premial_block .slick-next {
         border-radius: 2px;
         width: 35px;
         height: 35px;
    }

    .premial_block__text{
        font-size: 14px;
        padding: 2px 0 0;
        line-height: 16px;
    }

    .premial_block__subheader{
        font-size:16px;
        margin-top:14px;
        margin-bottom:23px;
        padding-left: 25px;
        &:before{
           width: 16px;
            height: 16px;
            margin-right: 14px;
        }
    }

    .orange-text{
        font-size: 23px;
    }
    
     .premial_block .slick-prev {
         left: 15px;
         top: 60px;
    }
     .premial_block .slick-next {
         right: 15px;
         top: 60px;
    }

    .country{
        margin-top:30px;
        h3{
           margin-bottom:30px; 
        }
    }
     .we_help .col-12:last-child p, .we_help .col-6:last-child p {
         margin-top: 30px;
         margin-bottom: 30px;
    }
     .we_help input, .we_help textarea {
        margin-top: 0;
         margin-bottom: 30px;
    }
    .we_help textarea:first-child {
        margin-top: 0;
    }
    .we_help textarea {
        height: 120px;
        margin-bottom: 0
    }
    .consultation-form .button {
        margin-top: 23px;
    }
    .consultation-form .button {
         margin-top: 23px;
         font-size:16px;
         padding-left: 15px;
         padding-right: 15px;
         transform: translateX(0);
    }
     .we_help {
         margin-bottom: 25px;
         padding-top:12px;
    }
     .we_help h3 {
         margin-top: 38px;
         font-size: 24px;
         margin-bottom: 30px;
    }
        .why-block{
            min-height: 318px;
        }

     .why .col-6 {
         margin-bottom: 20px;
    }
    .why__img {
        background: url(../img/check.svg) center no-repeat;
        background-size: contain;
        height: 35px;
        margin: 0 auto 23px;
        width: 47px;
    }
    .why__img img {
        display: none;
    }

    .write-us-wrapper {
        display: block
    }
    .write-us {
        position: static;
        width: 100%;
        transform: translateX(0);
        padding: 20px 15px 47px;
    }
    .write-us__header{
        font-size:20px;
        padding-top:30px;
    }
    .write-us__header-phone {
        padding-top: 0
    }
    .form-block {
        padding-right: 0;
        margin: 0 auto;
    }
     .news .slick-slide img {
         margin: 0 auto;
         width: 100%;
         height: auto;
         max-height: 270px;
         -o-object-fit: cover;
         object-fit: cover;
    }

    .callback__header{
        font-size:16px;
        margin-top:32px;
        margin-bottom:32px;
    }
    
     .news__text {
         width: 100%
    }
     .news__link {
         display: inline-block;
    }
     .news__data {
         float: right;
    }
    .news{
        padding-bottom:10px;
    }
     .news__block {
         padding-bottom: 17px;
         margin-bottom: 11px;
         background: #FFFFFF;
         box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
         border-radius: 5px;
         overflow: hidden;
         margin-bottom: 15px;
    }
     .news__txt, .news__link{ 
         padding-left: 15px;
         padding-right: 15px;
    }

    .news__data {
        padding-right: 15px;
        padding-top: 3px;
    }
    .news__txt {
        font-size: 16px;
        margin: 15px 0 12px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 19px;
    }
     .news .slick-prev, .news .slick-next{
         border-radius: 2px;
         width: 35px;
         height: 35px;
    }
     .news .slick-prev {
         left: 20px;
         z-index: 99;
         top: 88px;
    }
     .news .slick-next {
         right: 20px;
         z-index: 99;
         top: 88px;
    }
     .filter-region {
        margin-top: 32px;
        .dropdown-item {
        &.selected {
            background: $color-active;
            color: #fff;
        }
        &:hover {
            background: $color-active;
            color: #fff;
            }
        }
        .btn-secondary {
            display: inline-block;
            background: transparent;
            margin-bottom: 31px;
            line-height: 38px;
            text-align: center;
            color: #231F20;
            padding: 0 40px 0 15px;
            border: 1px solid #F9A030;
            border-radius: 5px;
            width: auto;
            position: relative;
        }
        .dropdown-menu {
            left: 50% !important;
            width: 290px;
            transform: translate(-145px, 45px) !important;
        }
    }

     .popular .slick-prev, .popular .slick-next {
         border-radius: 2px;
         width: 35px;
         height: 35px;
    }
     .popular .slick-prev {
         left: 15px;
         z-index: 99;
         top: 98px;
    }
     .popular .slick-next {
         right: 15px;
         z-index: 99;
         top: 98px;
    }
    .popular-hotels .popular__subheader{
        margin-bottom:25px;
    }

     .popular {
         margin-left: 0;
         margin-right: 0;
    }

    .news-slider {
        .slick-slide {
            padding-bottom: 10px
        }
    }
     .news__button {
         margin: 8px auto 0;
         max-width:160px;
         line-height:41px;
         font-size:16px;
    }
     .popular__title {
         margin-bottom: 30px;
    }

     .popular__city {
        min-height: 74px;
         margin-bottom: 0;
    }
    .popular__region {
        margin-top: 2px;
        margin-bottom: 21px;
    }
      
    .popular {
        padding-bottom: 0;
    }
    .popular-block {
        padding-bottom: 18px;
    }

    
     .popular .bootstrap-select .dropdown-toggle 
     .filter-option-inner-inner {
         font-family: Panton;
         line-height: normal;
         font-size: 16px;
         color: #231F20;
    }
     .popular .btn-light {
         color: #212529;
         background-color: #fff;
         border-color: #F9A030;
    }
     .popular {
        .dropdown-toggle::after {
             border: none;
             background: url(../img/arrow-bottom.png) center no-repeat;
             background-size: contain;
             width: 18px;
             height: 10px;
             margin-bottom: 0;
             top: 20px;
        }
        .btn-secondary:not(:disabled):not(.disabled).active,
         .btn-secondary:not(:disabled):not(.disabled):active,
          .show>.btn-secondary.dropdown-toggle {
            color: #231F20;
            background-color: transparent;
            border-color: #F9A030;
        }  
    }
     .popular .bootstrap-select .dropdown-toggle .filter-option {
         padding: 10px;
    }
     .popular .form-group {
         border-radius:5px;
         width:160px;
         border:2px solid #F9A030;
         margin:0 auto 30px;
         .btn{
            min-height:40px;
            padding: 5px 10px 4px 10px;
         }
    }

    .review {
        .owl-prev, .owl-next {
        bottom: 0px;
    }
    }
    .review__header,
    .review__subheader{
        transform: translateX(0);
    }


    .review__header{
        margin:0 0 9px;
        font-size:22px;    }

    .review__subheader{
        font-size:16px;
        margin-top: 10px;
        margin-bottom: 31px; 
    }

    .review .slick-slide{
        padding:0;
    }



    .review__item{
        margin:0 15px;
    }
    .popular-hotels {
       

    }
     .news h3 {
         margin-top: 50px;
         margin-bottom: 30px;
    }

    
    .review .slick-next{
        right: -50px;
        z-index: 99;
        border-radius:0;
        border:none;
        bottom:5px;
    }

    .review .slick-prev {
        left: 50px;
        z-index: 99;
        border-radius:0;
        border:none;
        bottom:5px;
    }
    .review__block .slick-slide {
        height: 100%;
    }
    .review__txt{
        margin-top:0;
        font-size:16px;
        line-height:20px;
        margin-bottom: 8px;
    }
    

    .review__text {
        margin-bottom: 0;
        line-height: 22px;
        margin-top: 23px;
        padding: 9px 10px 12px;
        &:before {
            left: 20px;
        }
    }

    
     .section_nine {
         background-size: cover;
         margin-top:0;
         padding-bottom: 13px;
    }

    .section_nine .section__title{
        padding-top:25px;
        font-size:24px;
    }
     .section__title_mt {
         margin-top: 25px;
    }
    
     .section__about {
         margin-top: 30px;
         font-size: 16px;
         line-height: 20px;
    }
     .section_nine .form {
         margin-top: 30px;
         transform: translateX(0);
    }

    .section_nine .button_form {
         margin-top: 18px;
         padding-top: 0;
         padding-bottom: 0;
         height:40px;
         font-size:16px;
    }
     .section_nine .button_form {
         margin-top: 21px;

    }
     .section_nine .form input {
         margin-bottom: 20px;
         line-height: 44px;
         height:45px;
    }
     .section_nine .all {
         margin-bottom: 0;
         margin-top:32px;
    }

    .all__header{
        font-size:16px;
    }

    .all__subheader{
        font-size:12px;
    }

    

    .third-list-wrapper{
        margin-top:48px;
    }

    .third-list-wrapper .tablet-show{
        margin-bottom:26px;
    }

    .third-list-wrapper .documents{
        margin-top:17px;
    }


     .desktop_curort {
         display: none;
    }
     .mobile_curort {
         display: block;
         ul {
            padding-left: 0
         }
         &-inner {
         padding-bottom: 55px;
         }
    }


     .why {
        margin-top: 25px;
        padding-top: 25px;
        padding-bottom:6px;
    }
    
     .why h3 {
         margin-bottom: 30px;
    }
     .popular h3 {
         margin-top: 25px;
         padding:0 25px;
    }

    .popular__subheader{
        font-size:16px;
        margin-bottom:0;
        margin-top: 29px
    }

    .popular__city{
        font-size:16px;
    }

    .popular-bottom{
    
        .popular__header{
            font-size:23px;
            padding:0 10px;
            margin:42px auto 33px;
        }

        .slick-slider{
            margin-top:15px;
            margin-bottom: 15px
        }
    }
    
     .review__title {
         margin: 25px 0 30px 0;
    }

    .review{
        margin-bottom:0;
        margin-top: 53px;
    }


    
    
     .review__link {
         margin-top: 20px;
         line-height: 38px
    }
     .footer__bell {
         margin-top: 10px;
         transform: translateX(0);
         max-width:160px;
    }
     .desktop_curort {
         display: none;
    }
     .mobile_curort {
         display: block;
         ul {
            padding-left: 0
         }
    }

    .soc{
        transform: translateX(0);
        margin-top:40px;
    }

    .soc__name{
        margin-top:60px;
    }

    .soc__name_right{
        margin-right:0;
    }

    .soc__name_left{
        margin-left:0;
    }
     .countru_box {
        padding-bottom: 55px;
        min-height: 0;
        h4 {
             font-size: 20px;
             margin-bottom: 30px;
             color:#fff;
        }
    }   
   
    .countru_box ul {
            margin-top: 27px;
    }
     .countru_box ul li {
         text-align: center;
         list-style: none;
            font-size:14px;
            margin-bottom: 11px;
         a{
            color:#fff;
            text-decoration: underline;
        }
    }

    .countru_box_list ul{
        
        padding-left:0;
        margin-bottom: 12px;
        
     li{
        list-style:none;
        font-size: 16px;
        }
        a{
            color:#fff;
        }
    }
     .krum ul li {
        margin-bottom: 7px;
         text-align: left;
            font-size: 14px;
            margin-bottom: 6px;
    }

    .krum .countru_box_list [class*="col-"]{
        padding-left: 15px;
        padding-right: 10px;
        margin-top: 12px;
    }

    .why-block{
        padding: 19px 9px 23px;
        min-height: 0

    }
    .row-why {
        margin: 0 -5px;
    }
     .countru_box {
         padding-left: 22px;
         padding-right: 22px;
         margin-left:0;
         margin-right:0;
         position:relative;
         &:before{
            content:"";
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background:rgba(0,0,0,0.65);
            z-index:-1;
         }
    }
    .countru_box_sub_caption {
        font-size: 16px
    }
     .countru_box h4 {
        margin-bottom: 16px;
         padding-top: 20px;
         text-align:center;
    }
    .countru_box_list ul {
        margin-top: 0
    }
    .countru_box_list + .countru_box h4 {
        margin-bottom: 24px;
        padding-top: 16px;
    }
    .countru_box_list + h4 {
        padding-top: 5px;
        margin-bottom: 23px;
    }
     .countru_box {
        position:relative;
         padding-top: 0;
         ul{
            padding-left:0;
         }
    }

     .krasnodar:first-child div {
         display: inline-block;
         text-align: left;
         margin-right: -5px;
         vertical-align: top;
    }
    .krasnodar {
        ul {
            margin-top: 3px
        }
        h4 {
            margin-bottom: 24px;
        }
    }
     .krasnodar div:nth-child(2) {
         width: 60%;
     }

     .krasnodar div:nth-child(3) {
        width: 40%
     }
     .krasnodar ul li {
         text-align: left;
    }
    .view_all{
        font-size:14px;
        bottom:20px;
    }

    .krum .view_all{
        right:auto;
        text-align:center;
        left:50%;
        transform: translate(-50%,0);
    }
     .mobile_curort .slick-prev, .mobile_curort .slick-next {
         border-radius: 2px;
         width: 35px;
         height: 35px;
         left: 50%;
         transform: translate(0, 0);
         z-index: 99;
         top: auto;
         bottom: 0;
    
    }
     .mobile_curort .slick-prev {
         margin-left: -50px;
    }
     .mobile_curort .slick-next {
         margin-left: 15px;
         right: auto;
    }
    .mobile_curort  {
        .owl-prev, .owl-next {
            bottom: 0;
        }
    }
    .ui-datepicker {
        width: 270px !important
    }
    .ui-datepicker-multi-2 .ui-datepicker-group {
        width: 100%;
    }
    .why__header {
        font-size: 14px;
        line-height: 16px;
        padding: 0
    }
    .why__text {
        font-size: 12px;
        line-height: 14px;
        min-height: 98px
    }

     .news .slick-prev, .news .slick-next, 
     .review .slick-prev, .review .slick-next {
         border-radius: 2px;
         width: 35px;
         height: 35px;
    }
     .news .slick-prev, .review .slick-prev {
         left: 15px;
         z-index: 99;
         top: 88px;
    }
     .news .slick-next, .review .slick-next {
         right: 15px;
         z-index: 99;
         top: 88px;
    }
    .review .slick-prev::before, .review .slick-next::before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: none;
        position: absolute;
        content: url(../img/arrow-next.png);
        top: 9px;
        left: 12px;
    }
    .review .slick-prev::before {
        position: absolute;
        content: url(../img/arrow-prev.png);
        top: 9px;
        left: 12px;
    }

    .review__block{
        margin-bottom: 30px;
        padding-bottom:50px;
    }
    .review .slick-next, .review .slick-prev {
        top: auto;
        bottom: 0px;
        left: 50%
    }
    .review .slick-next {
        margin-right: -60px;
        right: auto;
         border: 0;
    }
    .review .slick-prev {
        margin-left: -60px;
         border: 0;
    }

    .owl-carousel3  {
        .owl-prev, .owl-next {
            top: 42px;
        }
        .owl-prev {
            left: 15px;
        }
        .owl-next {
            right: 15px;
        }
    }

    .krum.krum_2 ul li{
     text-align:center;
     }
}
 @media only screen and (max-width: 640px) {
     

     .premial_block {
         padding-bottom: 60px;
    }
    .button_form {
        font-size: 16px;
    }
    .section__about {
        font-size: 16px;
        line-height: 1.2
    }
    .documents {
        margin-top: 16px
    }

}

 @media only screen and (max-width: 414px) {
    
     .premial_block {
         padding-bottom: 20px;
    }

     .why .col-6 {
         padding-left: 5px;
         padding-right: 5px;
    }
}

 @media only screen and (max-width: 375px) {
    .form-block {
        max-width: calc(100% + 30px);
        margin: 0 -15px;
    }
}
 @media only screen and (max-width: 360px) {
     
}
 @media only screen and (max-width: 320px) {
     .responsive_menu {
         width: 30px;
    }
    
}

