.pagination__list{
	padding-left: 0;
}

.pagination__item{
	display: inline-block;
	vertical-align: middle;
	list-style:none;
	margin: 0 1px;
}



.more-res__btn{
	background: #2F80ED;
	border-radius:5px;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	max-width: 270px;
	width: 100%;
	display: block;
	margin:0 auto 37px;
	color:#fff;
	&:hover{
		color:#fff;
		background: #2b70cc;
		text-decoration: none;
		transition: 0.3s;
	}
}

.pagination__link{

	border-radius:5px;
	font-size: 20px;
	padding: 8px 12px;
	color:#231F20 !important;
	display: inline-block;
    line-height: 24px;
    width:36px;
	&:hover{
		background: #2F80ED;
		color:#fff !important;
		text-decoration: none;
	}
}

.pagination__item.active .pagination__link{
	background: #2F80ED;
	color:#fff !important;
}


.pagination__prev, .pagination__next {
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	border-radius:3px;
	a {
		display: block;
		width:40px;
		height:40px;
		background: #fff;
		top: -2px;
		position: relative;
	}
}


.pagination__prev  {
	margin-right: 10px;
	a:before {
	    position: absolute;
	    content: url(../img/arrow-prev.png);
	    top: 10px;
	    left: 14px;
	}
}
.pagination__next {
	margin-left: 10px;
	a:before {
	    position: absolute;
	    content: url(../img/arrow-next.png);
	    top: 10px;
	    left: 16px;
	}
}

@media screen and (max-width: 767px){
	.popular-hotels .paginatin-wrapper{
	.slick-prev{
		left:-20px;
		top:30%;
		
	}

	.slick-next{
		right:-20px;
		top:30%;
		
	}
}
}

@media screen and (max-width: 577px){
	.popular-hotels .paginatin-wrapper{
	.slick-prev{
		left:-20px;
		top:30%;
		
	}

	.slick-next{
		right:-20px;
		top:30%;
		
	}
}
}