.background{
	background-repeat: no-repeat;
	background-position: center 20px;
	

}
header{
	max-width:960px;
}
.header{
	margin: 0 auto;
	position: relative;
	


}
.header-top{
	min-height: 228px;
	margin-top: -5px;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;

}

.header-bottom{
transition: 1.5s;
    min-height: 274px;
	margin-top: -40px;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;

}
nav{

}
ul{
	margin-top: 5px!important;
    margin-bottom: 7px!important;
	margin: 0 auto;
	max-width: 540px;
	align-items: center;
	display: flex;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: -1px;
}
li{
	flex-grow: 1;

}
a{
	text-transform: uppercase;
	color: #000000;
	font-size: 20px;

}
.bottom-img{
	box-shadow: 0 -2px 7px 2px rgba(0, 0, 0, 0.63);
	border: 1px solid #8b5836;
	background-color: #6f7cb3;
	
}
.top-img{
	box-shadow: 0 3px 7px 2px rgba(212, 147, 100, 0.63);
	background-color: #6f7cb3;


}
		