/* reset */
header { background: url("../img/header_1.jpg") center no-repeat; background-size: cover; text-align: center; padding-bottom: 10px; position: relative; margin: 0 0 15px; padding-top: 20px; }

header:before { content: ''; display: block; background: rgba(0, 0, 0, 0.32); top: 0; left: 0; right: 0; bottom: 0; position: absolute; z-index: 0; }

header > * { position: relative; z-index: 1; }

.logo img:nth-child(2) { display: none; }

.search-header .btn-outline-success:hover { background-color: transparent; border-color: transparent; }

.tablet-show { display: none; }

.contact_header { padding-top: 7px; text-align: right; }

.contact_header a { width: 100%; display: inline-block; font-family: Panton; line-height: normal; font-weight: 600; font-size: 20px; color: #FFFFFF; margin-bottom: 10px; text-decoration: none; }

.contact_header a:nth-child(2) { margin-bottom: 2px; }

.contact_header a span:after { content: ''; display: inline-block; background: url(../img/icon-info.png) center no-repeat; background-size: contain; width: 13px; height: 13px; margin-left: 10px; }

.contact_header a:last-child { text-decoration: underline; font-size: 16px; font-weight: 400; padding-left: 15px; }

.contact_header a:last-child:hover { text-decoration: none; }

.hotels__list { height: auto; max-height: 250px; width: 100%; overflow: auto; padding: 10px; background-color: #fff; border: 2px solid #fff; z-index: 10; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); color: #333; font-weight: 300; }

.hotels__item { cursor: pointer; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 10px; }

.hotels__item:last-child { margin-bottom: 0; }

.hotels__item_name { text-align: left; line-height: 1.2; }

.hotels__item span { padding-left: 5px; }

strong { color: black; font-size: 130%; }

.star-yellow { display: inline-block; text-indent: -9999px; width: 10px; height: 10px; background: url(../img/star-yellow.png) left top no-repeat; vertical-align: -2px; }

.grey { color: #7b7b7b; font-size: 90%; float: right; margin-top: 5px; height: 0; }

header .container { z-index: 1; }

header .header-top { z-index: 2; }

.wrapForListHotel2 { position: absolute; left: 0; right: 0; top: 43px; display: none; border-radius: 5px; }

.search-header { margin-top: 17px; position: relative; z-index: 2; }

.status-order { text-decoration: underline; font-size: 16px; font-family: "Panton"; color: #fff; margin-top: 15px; display: inline-block; }

.status-order:hover { text-decoration: none; }

.search_header form { position: relative; padding-top: 0; }

.search_header input { background: rgba(242, 242, 242, 0.45); border-radius: 5px; border: 1px solid rgba(242, 242, 242, 0.45); padding: 10px 12px; border: none; width: 100% !important; font-family: Panton; font-size: 14px; color: #FFFFFF; padding-right: 35px; font-weight: 400; color: #fff; }

.search_header input.form-control:focus { background: rgba(242, 242, 242, 0.45); border-color: #fff; color: #fff; }

.search_header input::-webkit-input-placeholder { font-family: "Panton"; font-size: 14px; color: #FFFFFF; font-weight: 400; }

.search_header input:-ms-input-placeholder { font-family: "Panton"; font-size: 14px; color: #FFFFFF; font-weight: 400; }

.search_header input::placeholder { font-family: "Panton"; font-size: 14px; color: #FFFFFF; font-weight: 400; }

.search_header button { position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; background: url(../img/search.png) center no-repeat; border: none; cursor: pointer; z-index: 9; }

.nav { margin: 30px auto 0; max-width: 1070px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.nav a { font-family: Panton; font-weight: 700; line-height: normal; font-size: 16px; text-decoration: none; color: #fff; -webkit-transition: all .4s; transition: all .4s; padding: 0; margin: 0; }

.nav a:hover { color: #16C1F3; }

.nav-pills .nav-link.active, .nav .active { padding: 0; margin: 0; background: none !important; text-decoration: none; color: #16C1F3; }

/*mobile nav*/
.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.65); z-index: 100; display: none; }

.mobile-nav-wrapper { display: none; background: rgba(0, 0, 0, 0.65); }

.mobile-nav { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 45px; }

.mobile-nav a { font-size: 16px; color: #fff; }

.burger { width: 35px; height: 20px; cursor: pointer; }

.line { background: #fff; width: 100%; height: 2px; }

.middle-line { margin-top: 7px; margin-bottom: 7px; }

h1 { font-family: Panton; font-weight: 900; line-height: normal; font-size: 48px; text-align: center; color: #FFFFFF; }

.main-block h1 { margin: 73px auto 0; text-indent: -20px; max-width: 950px; }

.form_tours { position: relative; z-index: 10; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.form-group { text-align: left; width: -webkit-calc(100% / 6); width: calc(100% / 6); width: 17.2%; padding-right: 0; padding-left: 0; background: #fff; border-right: 1px solid #F9A030; position: relative; }

.form-group:nth-child(5) { width: 16.6%; }

.btn-light.focus, .btn-light:focus { box-shadow: none; }

.form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { background: none; }

.form-group .btn, .dateFrom { min-height: 60px; }

.form-group .btn { background: transparent; width: 100%; text-align: right; border: none; }

.form-group.hidden { display: none; }

.show > .btn-light.dropdown-toggle:focus { box-shadow: none; }

.btn_tours { padding: 21px 15px; border-radius: 0 5px 5px 0; line-height: 60px; cursor: pointer; font-size: 16px; width: 14.6%; padding: 21px 5px 20px; padding-bottom: 20px; text-align: center; height: 60px; padding: 0; }

.btn_tours:hover { background: #ef8807; -webkit-transition: 0.3s; transition: 0.3s; }

.form-group input { border: none; background: none; padding: 6px; padding-left: 10px; padding-bottom: 0; }

.form_tours .form-group:first-child { border-radius: 5px 0px 0px 5px; }

.form-group .btn-default { border: none; }

.form-group .btn-default:hover { background: none; }

.form-group .btn { padding-left: 10px; padding-bottom: 0; font-weight: 300; background: none; padding-top: 0; padding: 23px 10px 4px 10px; text-align: left; }

.form-group button { padding: 10px; }

.form-group select { display: none; }

.form-group .btn-default:focus { background: none; }

.form-group .open > .dropdown-toggle.btn-default { background: none; }

.form-group .bootstrap-select.btn-group .dropdown-toggle .filter-option { font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 16px; color: #555759; }

.form-group .bootstrap-select .dropdown-toggle:focus { outline: none !important; border: none; }

.form-group .btn-group.open .dropdown-toggle, .form-group .btn:active { box-shadow: none; }

.form-group .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width: 100%; }

.form-group .btn-default:active { background: none; }

.control-label { position: absolute; top: 10px; display: block; font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 12px; margin: 0; padding-left: 10px; color: #555759; }

.dropdown-toggle .filter-option { font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 16px; color: #555759; }

.form_tours .filter-option-inner-inner { padding-top: 7px; }

.form_tours input { cursor: pointer; padding: 7px 3px; font-weight: 300; font-size: 16px; line-height: 20px; font-family: Roboto, arial, sans-serif; }

.form_tours input.datepicker-here2 { padding-top: 31px; padding-left: 10px; width: 100%; }

.form_tours input::-webkit-input-placeholder { font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 16px; color: #555759; }

.form_tours input:-ms-input-placeholder { font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 16px; color: #555759; }

.form_tours input::placeholder { font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 16px; color: #555759; }

.dropdown-toggle::after { border: none !important; background: url("../img/arrow-bottom.png") center no-repeat; background-size: contain; width: 18px !important; height: 10px !important; position: absolute; right: 12px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

.dateFrom { background: #fff url("../img/icob-calendar.png") center right 10px no-repeat !important; background-size: contain; }

.tab_links { margin-top: 32px; margin-bottom: 21px; }

.tab_links a { padding: 8px 15px; background: #FFFFFF; min-width: 100px; display: inline-block; font-family: Roboto; font-style: normal; font-weight: 300; line-height: normal; font-size: 12px; color: #555759; }

.tab_links a:hover { text-decoration: none; color: #fff; background: #F9A030; }

.tab_links a:first-child { border-radius: 20px 0px 0px 20px; margin-right: -3px; }

.tab_links a:last-child { border-radius: 0px 20px 20px 0px; margin-left: -2px; }

.tab_links .tab_links_active { color: #fff; background: #F9A030; }

.tab_links .tab_links_active:hover { background: #ef8807; -webkit-transition: 0.3s; transition: 0.3s; }

.header_bottom_link { font-family: Panton; font-weight: 700; line-height: normal; font-size: 14px; text-align: center; color: #FFFFFF; display: inline-block; margin: 44px auto 10px; bottom: 10px; left: 0; right: 0; z-index: 0; }

.header_bottom_link span { border-bottom: 2px dotted #338AF3; -webkit-transition: border .3s ease; transition: border .3s ease; }

.header_bottom_link:hover span { border-bottom-width: 0; }

.header_bottom_link:hover { text-decoration: none; color: #fff; }

.filter-people { color: #555759; font-family: Roboto, arial, sans-serif; display: block; font-size: 16px; width: -webkit-calc(100% - 45px); width: calc(100% - 45px); line-height: 19px; text-align: left; }

.filter__select { max-width: 100%; }

.filter__select .dropdown-menu { min-width: 100%; }

.input-with-plus { position: relative; margin: 13px auto 20px; padding: 0 5px; }

.form-group input.input-with-plus__input { border: none; padding: 0; width: auto; font-size: 18px; font-weight: 300; background-color: transparent; color: #231F20; text-align: center; display: inline-block; vertical-align: middle; max-width: 105px; }

.input-with-plus .plus { right: 0; }

.input-with-plus .minus { line-height: 25px; left: 0; }

.add-child { position: relative; margin-bottom: 20px; }

.add-child__select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; }

.plus, .minus { font-weight: 400; line-height: 30px; color: #231F20; text-align: center; -webkit-transition: border-color .3s ease; transition: border-color .3s ease; -webkit-transition-property: border-color; transition-property: border-color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-delay: 0s; transition-delay: 0s; z-index: 3051; font-size: 28px; padding: 0 0 0 1px; height: 28px; line-height: 28px; border-radius: 50%; background: rgba(253, 184, 19, 0.3); min-width: 28px; text-align: center; text-decoration: none; display: inline-block; vertical-align: middle; }

.plus:hover, .minus:hover { color: inherit; background: #ef8807; }

.plus:hover, .minus:hover { text-decoration: none; }

.child { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin: 0 auto 20px; width: 147px; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; position: relative; }

.child__label { margin-bottom: 0; font-size: 12px; font-family: Roboto, sans-serif; font-weight: 300; color: #000; vertical-align: top; }

.child__input { border: none; border-bottom: 1px solid #EEEEEE; font-size: 16px; width: 50px; }

.child__content { position: relative; padding: 0 10px; font-size: 12px; font-family: Montserrat, sans-serif; font-weight: 300; color: #231F20; vertical-align: top; }

.delete { width: 15px; height: 15px; background: url(../img/error.png) left top no-repeat; vertical-align: top; }

.tablet-show { display: none; }

.form-group select.add-child__select { display: block; }

.add-child__button { margin-bottom: 0; width: 150px; padding: 0 5px; display: -webkit-inline-box; display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; border: none; padding: 0 29px; height: 30px; font-size: 14px; font-weight: 400; background-color: #F9A030; color: #fff; text-align: center; line-height: 1.333; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; border-radius: 50px; cursor: pointer; -webkit-transition: background-color .3s ease, color .3s ease; transition: background-color .3s ease, color .3s ease; margin-bottom: 0; width: 150px; padding: 0 5px; }

.add-child__button:hover { background-color: #FDB813; text-decoration: none; color: #fff; }

.bootstrap-select > select { position: absolute !important; bottom: 0; left: 50%; display: block !important; width: 0.5px !important; height: 100% !important; padding: 0 !important; opacity: 0 !important; border: none; }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus { box-shadow: none; }

.checkbox { position: relative; z-index: 0; }

.checkbox:before { content: ''; display: block; position: absolute; border: 1px solid #F9A030; border-radius: 2px; height: 12px; width: 12px; left: 15px; top: 9px; }

.checkbox input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: absolute; opacity: 0; }

.checkbox:hover { color: #F9A030; }

.form_tours .multiselect-container > li > a > label { padding-left: 39px; }

.form_tours input.child__input { padding: 0; }

.form_tours .form-group .btn, .form_tours .bootstrap-select .dropdown-toggle .filter-option-inner-inner, .form_tours .bootstrap-select .dropdown-toggle .filter-option-inner { line-height: 19px; }

.multiselect-container > li > a { color: inherit; }

.active .checkbox:before { background: url(../img/icons/check.svg) no-repeat; background-size: auto 8px; }

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle { background: none; box-shadow: none; outline: none; }

.search_mob { display: none; }

.cross { display: none; }

@media only screen and (max-width: 1100px) { .btn_tours { font-size: 15px; }
  .form-group input.input-with-plus__input { font-size: 15px; max-width: 89px; } }

@media screen and (max-width: 991px) { header { padding-top: 16px; padding-bottom: 0; }
  .form-group.hidden { display: block; }
  .h3, h3 { font-size: 24px; }
  header .form_tours .form-group:first-child { width: 33%; }
  header .form_tours .form-group { width: 33%; }
  h1 { font-size: 35px; letter-spacing: 0.01em; }
  .h2, h2 { font-size: 24px; }
  .main-block h1 { margin-top: 28px; }
  .form-group .btn, .dateFrom { min-height: 43px; }
  .form_tours input.datepicker-here2 { padding-top: 26px; padding-bottom: 5px; }
  .dropdown-toggle::after { margin-top: 0; margin-bottom: 0; margin-left: 0; right: 11px; position: absolute; top: 27px; }
  .control-label { top: 8px; }
  .form_tours .filter-option-inner-inner { padding-top: 1px; }
  .form-group .btn { padding-top: 26px; padding-bottom: 6px; }
  .logo { padding-top: 3px; text-align: left; }
  .logo img { height: 92px; }
  .nav a { font-size: 16px; }
  .open-nav .header-top { z-index: 0; }
  .open-nav .nav-pane { z-index: 101; }
  .open-nav .nav-pane > * { position: relative; z-index: 12; }
  .open-nav .nav-pane .cross { position: absolute; }
  .open-nav .nav-pane .overlay { z-index: 11; }
  .mobile-nav-wrapper { display: block; margin-top: 24px; }
  .search-header { margin-top: 17px; }
  .status-order { font-size: 14px; margin-top: 7px; }
  .mobile-nav { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .nav-pane { display: none; position: fixed; margin: 0; background: rgba(0, 0, 0, 0.8); top: 0; right: 0; bottom: 0; left: 0; padding-top: 15%; z-index: 102; }
  .nav-pane .nav { display: block; }
  .btn_tours { width: 33%; text-align: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; border-radius: 0; }
  .multiselect-container { margin-top: 3px; }
  .btn_tours { line-height: 45px; height: 50px; }
  .header_bottom_link { margin-top: 50px; margin-bottom: 0; }
  .tablet-hidden { display: none; }
  .nav-item { margin-bottom: 20px; }
  .cross { display: block; position: absolute; z-index: 102; width: 30px; height: 30px; top: 20px; right: 20px; }
  .cross .top-line { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
  .cross .bottom-line { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .cross .line { position: absolute; top: 11px; }
  .main-block h1 { text-indent: 0; }
  .form_tours .form-group { width: 49%; border-radius: 0 !important; }
  .form_tours .form-group:first-child { width: -webkit-calc(98% + 2px); width: calc(98% + 2px); }
  .form_tours .form-control { width: 100%; }
  .form_tours .form-group { margin-bottom: 2px; border-right: none; margin-right: 2px; }
  .contacts { display: none; } }

@media only screen and (max-width: 767px) { header .form_tours .form-group { width: -webkit-calc(50% - 2px); width: calc(50% - 2px); min-height: 50px; }
  header h1 { font-size: 16px; margin-top: 20px; margin-bottom: 0; }
  header .tab_links { margin-top: 20px; }
  .header_bottom_link { margin: 40px auto 0; }
  header { padding-top: 7px; }
  header .form-group .btn { padding: 26px 10px 4px 10px; min-height: 43px; text-align: left; }
  .h2, h2 { font-size: 24px; }
  .logo { margin: 0 auto; }
  .logo img:nth-child(1) { display: none; }
  .logo img:nth-child(2) { display: block; height: 37px; margin: 0 auto; }
  .logo_mob { display: inline-block; }
  .logo_mob img { height: 37px; }
  header .form_tours .form-group:first-child, .form-group-region { width: -webkit-calc(100% - 2px); width: calc(100% - 2px); margin-right: 2px; }
  .main-block h1 { text-align: center; margin-top: 20px; }
  .control-label { top: 7px; }
  .form-group-profile.hidden { display: none; }
  .btn_tours { font-size: 14px; width: 100%; line-height: 39px; display: block; margin-top: 13px; height: 40px; }
  .search { display: none; }
  .mobile-nav-wrapper { margin-top: 10px; }
  .form_tours input.datepicker-here2 { padding-top: 27px; padding-bottom: 3px; }
  .form_tours .filter-option-inner-inner { padding-top: 0; }
  .mobile-nav { padding: 0; }
  .mobile-nav a { font-size: 14px; }
  .mobile-nav a:nth-child(3) { display: none; }
  .mobile-nav a:nth-child(1) { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .mobile-nav a:nth-child(2) { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .mobile-nav .burger { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .contact_header a:last-child, .search_header a, .contacts-offices { display: none; }
  header .contact_header a { width: auto; margin-right: 10px; }
  header .contact_header a span { display: none; }
  .form__input, .button_form { min-width: auto; width: 100%; }
  .form__input { height: 45px; }
  .search_header { margin-top: 30px; }
  header .row .col-12:nth-child(3) { display: none; position: absolute; top: -20px; background: rgba(0, 0, 0, 0.8); -webkit-transition: all .5s; transition: all .5s; }
  .nav-fill .nav-item { margin-bottom: 15px; }
  header .nav { display: none; -webkit-transition: all .5s; transition: all .5s; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; display: none; z-index: 101; }
  .btn_tours { width: 100%; }
  .search_mob { display: block; margin-top: 20px; }
  .search-header { display: none; }
  .nav-pane { display: none; position: fixed; margin: 0; background: rgba(0, 0, 0, 0.8); top: 0; right: 0; bottom: 0; left: 0; padding-top: 50px; padding-bottom: 30px; overflow: auto; z-index: 102; }
  .ios .input-with-plus .minus { line-height: 28px; }
  .ios .input-with-plus .plus { line-height: 30px; }
  .ios .popular-block img { height: auto; }
  .multiselect-container > li > a > label { padding-right: 10px; }
  .form_tours .multiselect-container > li > a > label { padding-left: 27px; }
  .checkbox:before { left: 7px; }
  .form-group input.input-with-plus__input { font-size: 16px; }
  .input-with-plus .minus, .input-with-plus .plus { position: absolute; left: 50%; top: 24px; right: auto; width: 30px; }
  .input-with-plus { margin-bottom: 44px; }
  .input-with-plus .minus { margin-left: -35px; }
  .input-with-plus .minus { margin-right: -35px; }
  .input-with-plus { margin-top: 4px; }
  .add-child, .child { padding: 0 5px; }
  .add-child__button, .child { width: 100%; }
  .child__content { padding: 0 6px; } }

@media only screen and (max-width: 414px) { header .contact_header a { font-size: 14px; } }

@media only screen and (max-width: 320px) { header .contact_header a { font-size: 12px; }
  header .contact_header { padding-top: 6px; } }

/*# sourceMappingURL=header.css.map */
