//color
$black:#000000;
$header_color: #494949;
$header_hover:#637ab4;
$info_mess:#1c1c1c;
$input_color:#c8c8c8;
$years_color:#435993;
$btn_colorBg: #435993;
$btn_colorMess: #435993;
//size
$header_size: 14px;
$input_sizeMin: 14px;
$title: 70px;
$info_mess-size: 30px;
$btn_size:16px;
$input_size:20px;
