/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    /*-ms-touch-action: pan-y;
        touch-action: pan-y;*/
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    /*pointer-events: none;*/
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.owl-carousel {
  .nav-icon {
    color: $color2;
    position: relative;
    top: 6px
  }
  .nav-text {
    color: $color2;
    padding-right: 43px;
    &:before, &:after {
      background: $color2;
    }
  }
  .owl-next .nav-text {
      &:before {
        right: -1px;
        top: 1px;
      }
      &:after {
        right: 13px;
        top: 4px;
      }

  }
  .owl-prev {
    .nav-text {
      padding: 0 0 0 48px;
      &:before, &:after {
        right: auto;
      }
      &:before {
        left: 5px;
        top: 3px;
      }
      &:after {
        left: 20px;
        top: 4px;
      }
    }
    .nav-link:hover {
      .nav-icon {
          transform: translate(-5px,0);
      }
      .nav-text {
          &:before, &:after {
             transform: translate(-5px,0);
          }
      }
  }
  }
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  padding-bottom: 4px !important
}
.owl-prev, 
.owl-next {
  bottom: 4px;
  position: absolute;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.team {
  .owl-nav {
    margin-top: -26px;
    padding-right: 49px;
    padding-left: 10px;
  }
}
.events {
  .owl-prev {
    margin-right: 30px;
  }
  .owl-next {
    left: 180px;
    right:  auto;
  }
}
.faq {
  .owl-prev {
    right: 100px;
    left: auto;
  }
  .owl-next {
    right: -10px;
  }
}
       .slick-last {
            opacity: .3
        }