@charset "UTF-8";
/* reset */
/* main variables */
body { margin: 0px; padding: 0px; font-family: Arial, sans-serif; background-color: #FFF; height: 100%; line-height: 1; position: relative; font-size: 13px !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; font-family: Arial, sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a { color: #100da9; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, span, div, button { outline: none !important; }

input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none; }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/OpenSans-Light.eot"); src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg"); font-weight: 300; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/OpenSans-Bold.eot"); src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg"); font-weight: 700; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/Open-Sans.eot"); src: url("../fonts/Open-Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg"); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range: U+0020-FFFD; }

@font-face { font-family: 'ArialMT'; src: url("../fonts/ArialMT.eot"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'ArialMT'; src: url("../fonts/Arial-BoldMT.eot"); font-weight: bold; font-style: normal; }

/*Иконочный шрифт*/
@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?n4rjat"); src: url("../fonts/icomoon.eot?n4rjat#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?n4rjat") format("truetype"), url("../fonts/icomoon.woff?n4rjat") format("woff"), url("../fonts/icomoon.svg?n4rjat#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-stars:before { content: "\e900"; color: #ffd36b; font-size: 15px; }

.icon-stars-white:before { content: "\e901"; }

/*Иконочный шрифт-конец*/
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header { background: #f0f0f0 url(../img/bg_header.jpg) no-repeat left top; width: 100%; height: 80px; min-width: 320px; text-align: left; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; -webkit-order: 1; }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer { background: #000 url(../img/bg_footer.jpg) no-repeat left top; height: 80px; text-align: left; width: 100%; min-width: 320px; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; -webkit-order: 3; }

.main-wrapper { padding: 0 0 0 0; width: 100%; position: relative; overflow: hidden; min-height: 100%; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; -webkit-justify-content: flex-start; -ms-flex-pack: start; }

.wrapper { min-width: 320px; max-width: 1200px; padding: 0px 10px 0 10px; margin: 0 auto; position: relative; }

/* titles */
p { font-size: 13px; line-height: 18px; color: #000; padding: 15px 0 15px 0; font-weight: 400; }

h1 { font-size: 36px; line-height: 42px; color: #000; font-family: "Open Sans", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

h2 { font-size: 32px; line-height: 37px; color: #000; font-family: "Open Sans", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

h3 { font-size: 28px; line-height: 32px; color: #000; font-family: "Open Sans", sans-serif; padding: 15px 0 15px 0; font-weight: 400; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper { visibility: hidden; }

.icon-load { background: url(../img/loader.gif) no-repeat left top; width: 40px; height: 40px; position: fixed; left: 50%; top: 50%; margin-left: -20px; margin-left: -20px; display: none; }

.loaded .icon-load { display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content { min-width: 320px; text-align: left; width: 100%; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; -webkit-order: 2; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-grow: 1; background: #fff; }

/*flex-wrapper*/
.flex-content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; /*title*/ }

.flex-content h2 { letter-spacing: -1.5px; font-family: 'Comfortaa', cursive; font-size: 30px; font-weight: 700; width: 100%; margin-bottom: 22px; }

/*filter-conainer*/
.content-nav { max-width: 270px; width: 100%; border: 1px solid #ebebeb; background-color: #fbfbfb; -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; margin-right: 10px; }

/*filter-select*/
.filter-design:nth-child(2) .filter-design__vis { padding-right: 7px; }

.filter-design:nth-child(2) .filter-design__minVis input { background-position: 92% 50%; }

.filter-design:nth-child(3) .filter-design__vis { padding-right: 7px; }

.filter-design:nth-child(3) .filter-design__minVis input { background-position: 92% 50%; }

.filter-design__vis { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; cursor: pointer; padding-left: 20px; padding-right: 20px; border-bottom: 1px solid #e1e1e1; }

.filter-design__vis p { letter-spacing: 0.14px; color: #343434; font-size: 14px; padding: 10.5px 0 10.5px 0; font-family: 'ArialMT', sans-serif; font-weight: 700; }

.filter-design__minVis { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.filter-design__minVis input { background: url(../img/icons/up.svg) no-repeat transparent; background-position: 95% 50%; max-width: 160px; height: 30px; padding-left: 10px; padding-right: 30px; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -0.7px; background-color: #f3f3f3; border: 1px solid #e1e1e1; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14); }

.filter-design__minVis input:focus { background: url(../img/icons/down.svg) no-repeat transparent; background-position: 95% 50%; }

.filter-design__minVis input::-webkit-calendar-picker-indicator { display: none; }

.filter-design--active { text-align: center; letter-spacing: 0.13px; }

.filter-design--active button { font-family: 'ArialMT', sans-serif; font-weight: 500; border: none; background-color: transparent; font-size: 13px; color: #36a8bf; line-height: 24px; padding: 7px 0 7px 0; }

.filter-design__arrow { -webkit-align-self: center; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; background-image: url(../img/icons/up.svg); width: 10px; height: 6px; }

.filter-design__arrow--active { background-image: url(../img/icons/down.svg); }

.filter-design__content { display: none; padding-left: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 5px; max-height: 180px; overflow: auto; border-bottom: 1px solid #e1e1e1; }

.filter-design__content--all a { color: #39a6be !important; }

.filter-design__content a { display: block; font-family: 'ArialMT', sans-serif; font-weight: 500; padding: 7px 0 7px 0; font-size: 13px; color: #444444; }

.product { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 900px; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; }

/*product-card*/
.product-item { margin-left: 17px; margin-right: 11px; max-width: 273px; min-width: 253px; box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09); background-color: #ffffff; height: 380px; border: 1px solid rgba(0, 0, 0, 0.09); -webkit-transition: 1s; transition: 1s; /*product-card-hover*/ }

.product-item:hover { box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36); border: 1px solid #c2e8f0; }

.product-item:hover .product-item__text--name { color: #23a2be; }

.product-item__img { position: relative; }

.product-item__img--lable { position: absolute; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; font-size: 11px; letter-spacing: -0.11px; color: #ffffff; background-color: #48b3cb; padding: 7px; border-radius: 3px; top: 12px; left: 13px; }

.product-item__img--lableHit { background-color: #ffae2e; padding: 9px; }

.product-item__stars ul { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; list-style: none; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding-top: 20px; }

.product-item__stars ul li { padding-left: 2px; padding-right: 2px; }

.product-item__stars ul li img { height: 16px; width: 15px; }

.product-item__text { text-align: center; }

.product-item__text--name { font-size: 15px; color: #282828; letter-spacing: -0.15px; font-family: 'Open Sans', sans-serif; font-weight: 400; line-height: 20px; -webkit-transition: .5s; transition: .5s; padding-left: 20px; padding-right: 20px; padding-top: 13px; padding-bottom: 19px; }

.product-item__text--price { color: #282828; max-width: 79px; margin: auto; border-top: 1px solid #dbdbdb; font-size: 15px; letter-spacing: -0.15px; font-family: 'Open Sans', sans-serif; font-weight: 700; }

.product-item:nth-child(n+4) { margin-top: 20px; }

/*slider setting*/
.product-title { margin-left: 27px; width: 100%; margin-top: 20px; }

.product-title h3 { font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 16px; letter-spacing: -0.16px; text-transform: uppercase; color: #282828; }

.product-slider { max-width: 900px; margin-left: auto; position: relative; }

.product-slider .slick-dots { position: relative; bottom: 0; padding-top: 56px; max-width: 80px; margin: auto; }

.product-slider .slick-dots li { margin: 0; }

.product-slider .slick-dots .product-item:nth-child(odd) { margin-top: 0px; }

.product-slider .slick-dots .product-item:nth-child(even) { margin-top: 0px; }

/*arrows slider*/
.arrows-slider__L { position: absolute; bottom: -2%; left: 40%; z-index: 1; cursor: pointer; }

.arrows-slider__R { position: absolute; bottom: -2%; right: 40%; z-index: 1; cursor: pointer; }

.slick-dots li.slick-active button:before { color: #e44256 !important; }

/*scroll bar setting color*/
.mCSB_dragger_bar { background-color: #93deff !important; }

.mCSB_draggerRail { background-color: transparent !important; }

/*adaptive*/
@media screen and (max-width: 1216px) { .content-nav { max-width: 670px; margin-bottom: 40px; margin-right: 0px; }
  .product-slider { margin: auto; } }

@media screen and (max-width: 936px) { .product-item:nth-child(n+3) { margin-top: 20px; }
  .product-slider { margin: auto; }
  .product-slider .product-item { margin-left: 14px; margin-right: 14px; max-width: 470px; -webkit-transition: none; transition: none; }
  .product-slider .product-item__img img { margin: auto; }
  .product .product-item { margin-left: 14px; margin-right: 14px; max-width: 370px; width: 100%; }
  .product .product-item__img { text-align: center; } }

@media screen and (max-width: 832px) { .product-item:nth-child(n+2) { margin-top: 20px; } }

@media screen and (max-width: 900px) { .arrows-slider__L { bottom: -2%; left: 30%; }
  .arrows-slider__R { bottom: -2%; right: 30%; } }

@media screen and (max-width: 640px) { .product-slider { margin: auto; }
  .product-slider .product-item { margin-left: 80px; margin-right: 80px; }
  .product-slider .product-item:nth-child(odd) { margin-top: 0px; }
  .product-slider .product-item:nth-child(even) { margin-top: 0px; } }

@media screen and (max-width: 480px) { .flex-content { text-align: center; }
  .product-slider .product-item { margin-left: 20px; margin-right: 20px; }
  .arrows-slider__L { bottom: -2%; left: 0%; }
  .arrows-slider__R { bottom: -2%; right: 0%; } }

@media screen and (max-width: 380px) { .product-slider .product-item { margin-left: 10px; margin-right: 10px; } }

/*# sourceMappingURL=style.css.map */
