/* reset */
$min-width: 320px; 
$max-width: 1920px; 
$base-bg: #fff; 
$base-font-size: 14px; 
$base-line-height: 1.25; 
$base-font-family: 'Roboto', arial, sans-serif; 
$second-font-family: Roboto, arial, sans-serif; 
$transition-function: ease-in; 
$default-transition:all 0.3s cubic-bezier(0,0,0,1);
$text-color: #fff;

/* main variables */

//text, titles
$color-active: #c21500;
$color1: #ffc500;
$color2: #ffc000;
$road-map: #a1292e;

$main-color:#e2cba2;
$bg-color:#191925;
$text-btn:#191925;

