* {
    box-sizing: initial;
}

//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	background: #fff000;
}
/*------------Slider-------------*/
.slider{
	@include wrapper();
	box-sizing: inherit !important;
	font-family:$font-header;
	&__1{
		position:relative;
		display: flex !important;
    	flex-direction: column;
    	min-height:400px;
	}
	&__text{
		position:absolute;
		background-color:  rgba(210, 166, 107, 0.88);
		width: 445px;
		top: 30%;
		font-size:4.2rem;
		padding:20px 30px 20px 27px;
		left: 5.3%;
		color: white;
		font-weight:$font-regular;

	}
	.slick2{
		min-height:124px;
		
		
	}
/*------------Slider-dots-------------*/
	.slick-dots{
    	 width: 94.5%;
    	 bottom: -65px;
	}
	.slick-dots li button:before{
		content: '';
		width:18px;
		height:18px;
		background:$color-service;
		border-radius:50%;

	}
/*------------Slider-arrows-------------*/
	.slick-prev, .slick-next{
		z-index:2;
		background-color:  rgba(210, 166, 107, 0.88);
		width: 37px;
		height: 40%;
	}
	.slick-prev{
		left: 40px;
		&:hover{
			background:rgba(255, 255, 255, 0.88);
		}
		&:before{
			content: "\f053";
    	display: inline-block;
    	font: normal normal normal 25px/2 FontAwesome;
    	text-rendering: auto;
    	margin-right:5px;
		}
		&:hover:before{
    	color: $color-service;
		}
		
	}
	.slick-next{
		right: 40px;

		&:hover{
			background:rgba(255, 255, 255, 0.88);
		}
		&:before{
			content: "\f054";
    	display: inline-block;
    	font: normal normal normal 25px/2 FontAwesome;
    	text-rendering: auto;
    	margin-top:1px;
		}
		&:hover:before{
    	color: $color-service;
		}
		
		

	}
	


}








@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1200px) {
	.slider__text{
		font-size:3.3rem;
		width: 32.8%;
		height:auto;
	}
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	.slider__text{
		font-size:2.7rem;
		left: 8.3%;
	}
	.slick-prev{
		left: 35px !important;
	}
	.slick-next{
		right: 35px !important;
	}

	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}
@media screen and (max-width: 766px) {
	.slick-prev{
		left: 20px !important;
	}
	.slick-next{
		right: 20px !important;
	}
	.slider__text{
		font-size:2.2rem;
		padding: 1% 2% 1% 2%;
		width: 220px;
    	top: 34%;
	}
}
@media screen and (max-width: 575px) {
	.slick1{
		display:none !important;
	}
	.slider__text{
		font-size:1.8rem;
		left: 13.3%;
		width: 191px;
		top: 33%;
	}
	.menu .mobile-telefon a {
    font-size: 11px;
	}
	.tab{
		width: 55%;
	}
}
@media screen and (min-width: 576px) {
	.slick2{
		display:none !important;
	}
	
}
@media screen and (max-width: 380px) {
	.slider__text {
		font-size: 1.8rem;
    	left: 11.3%;
	}
	.slider .slick-prev:before,
	.slider .slick-next:before  {
    font: normal normal normal 14px/2 FontAwesome;
	}
	.slider .slick-prev, .slider .slick-next{
		width: 6%;
		height: 26%;
	}
	.slider__text {
    padding: 3% 2% 3% 2%;
    top: 31%;
	}
   

}




