@import "smart-grid.scss";
	
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#f0f0f0 url(../img/bg_header.jpg) no-repeat left top;
	width:100%;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;
    box-sizing:border-box;

}
html{
	font-size:10px;
}
img{
	max-width: 100%;
}
a{
	color: $text-color;
}
::placeholder {
  color: #ccc;
}
$font-header:'PT Sans', sans-serif;
$color-header:#747688;
$color-service:rgb(203, 148, 76);
$transoform-text:scaleY(1.0128);
$font-bold:700;
$font-regular:400;
$white: #fff;
$clouds: #ecf0f1;
$gray: #666;

.top{
	display: flex;
	padding-top: 25px;
	margin-bottom: 8px;
	&__Search{
		min-width: 221px;
		max-width:100%;
		@include col();
		@include size(8.5);
		@include size-md(7);
		color:  #b9b8bd;
		&_input{
			font-size: 1.4rem;
			margin-top: 0px;
			width:90.5%;
			height: 3.8rem;
			max-width:100%;
			border-radius: 4px;
			border: 1px solid #b9b8bd;
			color: #222;
			background-image: url(../img/seach.png);
			background-repeat: no-repeat;
			background-position: 98%;
			padding-right:30px;
			padding-left: 9px;
			box-sizing: border-box;
			text-overflow: ellipsis;

		}
	}
	.telefone{
		max-width:100%;
		font-size: 2.2rem;
		font-family: $font-header;
		transform: $transoform-text;
		@include size(4);
		text-align: right;
		@include col();
		@include size-md(4.5);
		margin-right: 0;
		margin-top: 4px;
		flex-basis: 293px;
		text-align: left;
	}
	&__services{
		max-width:100%;
		transform:$transoform-text;
		line-height:13px;
		font-size: 1.3rem;
		padding: 0px;
		
	}
	&__arrival{
		@include size(2.4);
		text-align: right;
		color: $color-service;
		transform:$transoform-text;
		@include col();
		margin-left: 8px;
		flex-basis: 218px;
		font-size: 1.3rem;
	}

}
.logo{
	@include size(4.2);
	@include col();
	max-width:100%;
	margin-top: 4px;
	&__text{
	color: $color-header;
	font-family: $font-header;
	font-weight: $font-regular;
	font-size:1.4rem;
	line-height:25px;
	}
	&__img{
		min-width: 179px;
		
	}
}
.xs{
	background-color:$white;
	padding: 20px 0 20px 0px;
	&__mobile{
		display: flex;
		flex-wrap: wrap;
		@include size(6);
		@include col();
		@include size-xs(8);
		}
		&__logo{
		min-width: 192px;
		height:23px;
		margin-bottom: 5px;
		}
		&__text{
			font-size: 12px

		}
	}
/*-----------nav---------*/
.bottom{
	font-family:$font-header;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #dddfdf;
	@include col();
	margin-bottom: 25px;


	 &__link {
        	 color:  #171717;
        	 padding-bottom: 10px;

        }


      &__navbar {
        position: relative;
        font-weight:$font-bold;
        font-size:1.6rem;
        text-transform:uppercase;
        margin-right: 9px;
        flex-grow: 1;
        &:last-child{
        	margin-right:0;

        }
    }
  /*nav-list*/
    &__list{
    	font-weight: $font-bold;
    	color: #666666;
    	list-style:none;
    	padding:10px 0px 15px 0;

    }
     &__list_item {
     	padding-left:17px;
     	 position: relative;
    	&:hover{
			background:#f0f0f0 ;

		}
		
    }
    &__list_link{
    	background: url(../img/circle.png) no-repeat 0px 15px,no-repeat url(../img/right.png) 200px 15px;
		padding:10px 10px 10px 15px;
		display: block;
		text-transform:none;
		color: #666666;
		font-size: 15px;
		
    }
     /*nav-sabmenu*/
    &__submenu_list{
    	 color: #34383d;
    	 text-transform:none;
    	 padding-left:17px;
    	 position: relative;
    	&:before{
    		border-radius: 50%;
    		border: 1px solid  $color-service;
    		width: 4px;
			height: 4px;

    	}
    }	
    &__submenu_link{
    	color: #666666;
    	background: url(../img/circle.png) no-repeat 0px 15px;
		padding:10px 10px 10px 15px;
		display: block;

    	}
    &__submenu_taitel{
    	 color: $color-service;
    	 font-weight:$font-bold;
    	 padding-left:17px;
    }
    .border__nav_top{
    	border-top: 1px solid #dddfdf;
		 width:100%;
    }
     .border__nav_bottom{
    	border-bottom: 1px solid #dddfdf;
		 width:100%;
    }
/*------------------nav-market--------------*/
    &__market{
    	text-align:right;
    	order:1;
    	flex-grow: 0.6;
    	padding-top: 15px;
    	padding-bottom: 6px;

   
    	&_quantitu{
    	font-weight:$font-bold;
    	color:  rgba(255, 255, 255, 0.88);
		background: url(../img/carzina.png) no-repeat 0px 4px,url(../img/circle-tovar.png) no-repeat 31px 4px;
		padding:5px 5px 5px 35px;
   		}
   		&_goods{
   		font-weight:$font-bold;
   		transform:$transoform-text;
   		text-transform:uppercase;
   		font-size:1.4rem;
   		margin-left: 5px;
   		}
   		&_item{
   			color:  #252a54;
   			font-size:1.6rem;
   		}

	}
	&__login{
		font-weight:$font-bold;
		text-transform:uppercase;
		background: url(../img/user.png) no-repeat 0px 12px;
		padding: 13px 0 14px 14px;
		margin-left: 25px;
		&_enter{
			font-size: 1.6rem;
			color:  #252a54;
			padding-left:10px;

		}

	}

}
.bottom__navigation{
    display: flex;
    background-color: #fff;
    font-family:$font-header;
    background:#f0f0f0 !important;
    list-style:none;
    padding-top:15px;
    padding-bottom: 14px;
    flex-wrap: wrap;
    flex-grow: 1;
   
    &:before{
    	content: "\f0ca";
    	display: inline-block;
    	font: normal normal normal 16px/1 FontAwesome;
    	font-size: inherit;
    	text-rendering: auto;
    	margin-right:5px;
    	margin-top:1px;
    	width: 19px;
    	color: $color-service;
    }
    .list_activ{
        position: relative;
        z-index: 4;
        &:hover {
            & > ul{
                visibility: visible;
                opacity: 1;
            }
            
        }
        
    }
 
    .fa-angle-down {
    	color: $color-service;
    	font-weight:$font-bold;
    	margin-left: 6px;

    }
    .nav_active{
    	position: absolute;
        z-index: 1;
        top: 30px;
        left: -34px;
        width: 242px;
        visibility: hidden;
        transition: all .2s ease-in-out;
        border: 1px solid #dddfdf;
        opacity: 0;
        border-radius: 3px;
        background: #fff;
       	box-shadow: 1px 3px 1px 0px rgba(108, 104, 104, 0.33);
 	
    }
  
    /*nav-sabmenu*/
     .bottom__submenu {
            top: -10px;
            left: 223px;
            margin: 0 0 0 20px;
            box-shadow: -1px 0 0 rgba(255,255,255,.3);
            font-weight: $font-bold;
    		color: #666666;
    		list-style:none;
    		padding:10px 0px 15px 0;
            
        }   
    
}
/*nav-mobile*/
$gray: #f0f1f6;
.nav {
  display: none;
  position: absolute;

}
.mobile{
	display: flex;
}
/*nav-toggul*/
#mobile__menu_button, .cont-btn{
		cursor: pointer;
		display: block;
		background-color:  #3eade2;
		width: 54px;
		height: 40px;
}

.cont-btn a{
	display: block;	
	position: relative;
    padding-top: 16px;
}
.cont-btn a:before{
	content: "";
	position: absolute;
	left: 15px;
    top: 0.8em;
    width: 1.3em;
    height: 0.09em;
	background:$white;
	box-shadow: 0 0.6em 0 0 $white, 0 1.2em 0 0 $white;
}

.menu{
	position:relative;
	display:flex;
	width:100%;
	&__home{
		background: url(../img/mobile-icon/home.png) no-repeat center;
	}
	&__seach{
		
		background: url(../img/mobile-icon/seach.png) no-repeat center;
	}
	&__shop{
		background: url(../img/mobile-icon/carzin.png) no-repeat center;
	}
	&__user{
		background: url(../img/mobile-icon/user-2.png) no-repeat center;

	}
	&__phone{
		background: url(../img/mobile-icon/phone.png) no-repeat center;

	}
	.acc{
		width:100%;
		min-width:30px;
		min-height: 40px;
		cursor: pointer;
		&:hover{
			background-color::white;
			outline:1px #ccc;

		}
	}
	.tab{
		width: 95%;
    	position: absolute;
    	top: 44px;
    	text-align:right;
    	.input-mobile{
    		height: 40px;
    		 width: 92%;
    		 @include size-xs(12);
    		 @include size-sm(9);
    	}

	}
	.mobile-telefon{
		   font-size: 36px;
		a{
			font-size:24px;
		}
	}

}



body {
  background-color: $clouds;
  left: 0;
  overflow-x: hidden;
  position: relative;
  
  @include transition(0.3s);
}

/******/
.cont-nav {
  background-color: $gray;
  height: 100%;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1000;
  
  @include transition(0.3s);
}

.cont-navLeft {
  @extend .cont-nav;
  left: -200px;
}

.cont-navRight {
  @extend .cont-nav;
  right: -200px;
}

.nav-menu {
  margin: 0;
  padding: 0;
 
  
  li {
    border-bottom: 1px solid #cccc;
    
    .link__mobile{
      display: block;
      padding: 21px 0px 19px 11px;
      width: 185px;
    }
    
  }
  
  
}

.nav-menu{
	li{
		&:last-child{
			border:none;
		}
	}
} 




/* Push body and nav */


.push-left {
  left: -200px;
}

.openLeft {
  left: 0;
}

.openRight {
  right: 0;
}
.push-right {
  left:200px;
}

.submenu_mobile{
	left: 176px !important;
	background-color:$gray !important;
	.bottom__submenu_list{
		&:hover{
			color: #fff;
		}
	}

}
.btn{
	padding:16px;

}

/*-----------------------end--------------------*/

@media screen and (max-width: 1200px) {
	.bottom__market{
		order:0;
		flex-grow: 1;
		padding-bottom: 19px;
		padding-top: 0px;
	}
	html{
		font-size:9px;
	}
	.top{
		margin-bottom:0;	
	}
	
	
}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {
	.top__Search_input{
		width:100%;
		background-size: 11px;
		font-size: 1.3rem;
		min-width: 193px;
	}
	.top__Search{
		min-width: 193px;
	}
	.top .telefone{
		flex-basis: auto;
		font-size: 1.7rem;
		min-width: 120px;
		margin-left: 10px;
		transform: scaleY(1.228);
		margin-top: 6px;
		font-weight:bold;
		padding-top: 3px;
	}
	html{
		font-size:8.3px;
	}
	.logo__text{
		font-size:1.5rem;
	}
	 .top__services{
		font-size:1.2rem;

	}
	.top__arrival{
		font-size:1.2rem;
		flex-basis: auto;
		min-width: 107px;

	}
	.bottom__market_quantitu{
    padding: 4px 2px 5px 26px;
    background: url(../img/carzina.png) no-repeat 0px 4px, url(../img/circle-tovar.png) no-repeat 23px 4px;   
    background-size: 17px;
    font-size: 11px;
	}
	.bottom__market_goods{
		margin:0;

	}
	.bottom__login{
		margin-left: 20px;
	}
	.bottom__login{
		padding: 11px 0 14px 14px;
    	background-size: 17px;

	}

	
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}
@media screen and (max-width: 766px) {
	
	 .bottom{
		display:none;
	}
	
		.top{
		display:none;

	}
	.bottom__market{
		display:none;

	}
	.bottom__navigation:before {
		content: "";
	}
	.bottom__list_item {
    padding-left: 0;
}
.bottom__list_link {
    margin-left: 14px;

	
}
}

@media screen and (min-width: 767px) {
	#mobile__menu_button{
		display: none;
	}
	.mobile{
		display: none;
		
	}
	.menu{
		visibility:hidden;
	}
	.xs{
		display: none;
	}
	.openLeft{
		left:-200px;
	}
	.web.push-right{
		left: 0;
	}

	
}
