.box-achievements {
    padding-top: 155px;
    @media(max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    @media(max-width: 375px) {
        padding-top: 40px;
    }
    @media(min-height: 721px) and (min-width: 768px) {
        padding-top: 0;
        .box-achievements-wrapper {
            position: static;
            margin: 0 auto;
        }
    }
    .fp-tableCell {
        display: block;
        @media(min-height: 721px) and (min-width: 768px) {
            display: table-cell;
        }
        @media(max-width: 425px) {
            height: 550px !important;
            max-height: 550px;
        }
    }
    &-wrapper {
        left: 20%;
        position: absolute;
        width: 80%;
        padding-right: 55px;
        @media(max-width: 1140px) {
            position: relative;
            left: auto;
            padding-left: calc(40px + 1%);
        }
        @media(max-width: 992px) {
            padding: 0 15px;
        }
        @media(max-width: 767px) {
            width: 100%;
        }
        @media(min-height: 721px) and (max-width: 420px) {
            top: 50%;
            transform: translateY(-50%);
        }
        @media(max-width: 420px) and (min-height: 721px) {
            top: 33%;
        }
    }
    &-top {
        margin-bottom: 24px;
        overflow: hidden;
    }
    &-descr {
        max-width: 75%;
        @media(max-width: 1140px) {
            max-width: 90%;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            color: #cfcfcf;
        }
    }
    .btn_achivments-plan {
        position: absolute;
        left: 80%;
        display: inline-block;
        height: 50px;
        border: 1px solid #e2cba2;
        line-height: 50px;
        font-size: 14px;
        font-weight: 400;
        color: #e2cba2;
        padding: 0 25px 0 30px;
        z-index: 4;
        @media(max-width: 992px) {
            left: auto;
            right: 15px;
        }
        @media(max-width: 767px) {
            position: relative;
            margin-bottom: 20px;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }
        @media(min-height: 721px) and (min-width: 768px) and (max-width: 990px) {
            top: calc(35% - 97px);
            transform: translateY(-50%);
            right: auto;
            left: 90px;
        }
        @media(max-width: 375px) {
            margin-left: 0;
        }
        span {
            padding-left: 10px;
        }
    }
    #achievements-slider {
        padding: 0;
        .slick-list {
            width: 100%;
            .slick-track {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .slick-prev,
        .slick-next {
            left: 50%;
            transform: translateX(-120%);
            bottom: -35px;
            font-size: 0;
            @media(max-width: 767px) {
                bottom: -60px;
            }
            @media(max-width: 330px) {
                bottom: -40px;
            }
            &::before {
                top: 20px;
            }
        }
        .slick-next {
            transform: translateX(20%);
        }
    }
    &__slider-item {
        display: flex !important;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding-right: 20px;
        @media(max-width: 767px) {
            justify-content: center;
        }
        &__month {
            font-weight: 800;
            color: #e2cba2;
            font-size: 60px;
            text-align: center;
            &_val {
                line-height: 60px;
            }
            &_name {
                font-size: 10px;
                text-transform: uppercase;
            }
        }
        &__list {
            list-style-type: none;
            padding-left: 26px;
            padding-top: 5px;
            li {
                position: relative;
                display: block;
                font-size: 14px;
                color: #fff;
                line-height: 16px;
                margin-bottom: 21px;
                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: -15px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #e2cba2;
                }
            }
        }
    }
}

.slide-show .box-achievements-descr {
    animation-name: top-bottom-transform;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slide-show .box-achievements__slider-item__month {
    animation-name: left-right-transform;
    animation-duration: 1s;
    animation-delay: .4s;
    animation-fill-mode: both;
    @media(max-width: 767px) {
        animation-name: none;
    }
}

.slide-show .box-achievements__slider-item__list li {
    animation-name: left-right-transform;
    animation-duration: 1s;
    animation-fill-mode: both;
    @media(max-width: 767px) {
        animation-name: none;
    }
}

$n2: 10;
@for $i from 1 through $n2 {
    .box-achievements__slider-item__list li:nth-child(#{$i}) {
        animation-delay: #{$i*.1}s
    }
}

@-webkit-keyframes top-bottom-transform {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes top-bottom-transform {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes left-right-transform {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes left-right-transform {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

    @media(max-width: 767px) {

        .slide-show .box-achievements-descr {
            animation-name: none;
            max-width: 100%
        }
    }
