.answer{
    width: 100%;
    display: none;
    p{
        font-size: 21px;
        color: #fff;
        opacity: .5;
        padding-bottom: 15px!important;
    }
}
.respond{
    display: none;
    p{
        font-size: 16px;
        color: #fff;
        opacity: .5;
        padding-bottom: 15px!important;
        &.error{
            color: #ec6434;
        }
    }
}
.box-contacts {
    background: rgba(25, 25, 37, .8);
    background-position: 46% 0;
    background-size: contain;
    @media(max-width: 767px) {
        padding-top: 70px
    }
    @media(max-width: 480px) {
        max-height: 700px;
    }
    @media (min-height: 500px) and (max-width: 690px) {
        padding-bottom: 60px;
    }
    @media(min-height: 721px) and (min-width: 768px) {
        padding-top: 0;
    }
    .vertical-line-wrapper {
        z-index: -1;
        @media(max-width: 767px) {
            height: 105%;
        }
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 110px;
        top: 113px;
        background: url(../img/do_it.png);
        width: 833px;
        height: 166px;
        background-size: contain;
        z-index: -1;
        @media(max-width: 1024px) {
            width: 80%;
            background-repeat: no-repeat;
        }
        @media(max-width: 640px) {
            left: 10%;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 20%;
        background-repeat: no-repeat;
        top: 0;
        background-image: url(../img/contacts-bg.png);
        background-size: contain;
        width: 100%;
        height: 110%;
        opacity: .1;
        z-index: -1;
        @media(max-width: 1080px) {
            background-size: cover;
            left: 25%;
        }
        @media(max-width: 767px) {
            left: 0;
        }
    }
    &-wrapper {
        padding-left: calc(40px + 1%);
        padding-top: 135px;
        padding-right: calc(40px + 1%);
        @media(max-width: 767px) {
            padding-top: 45px;
        }
        @media(max-width: 767px) {
            padding-top: 0;
        }
        @media(min-height: 721px) {
            padding-top: 0;
        }
    }
    .fp-tableCell {
        display: block;
        @media(max-width: 767px) {
            max-height: 660px;
        }
        @media(max-width: 480px) {
            max-height: 700px;
        }
        @media(min-height: 721px) {
            display: table-cell;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        justify-content: space-between;
        @media(max-width: 1024px) {
            margin-bottom: 0;
        }
        @media(max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            width: 60%;
            margin: 0 auto;
        }
        @media(max-width: 620px) {
            width: 100%;
        }
    }
    h2 {
        font-size: 30px;
        color: #e2cba2;
        line-height: 36px;
        font-family: 'Roboto';
        font-weight: 800;
        @media(max-width: 767px) {
            margin-bottom: 20px;
            font-size: 26px;
        }
    }
    &-method {
        padding-top: 7px;
        padding-right: 42px;
        @media(max-width: 767px) {
            padding-right: 0;
        }
        a {
            display: block;
            font-weight: 400;
            font-size: 17px;
            color: #fff;
            line-height: 18px;
            margin-bottom: 23px;
            vertical-align: top;
            i {
                color: #e2cba2;
                font-size: 15px;
                line-height: 18px;
                vertical-align: text-bottom;
            }
        }
        &__social {
            .box-contacts-method__social__item {
                display: inline-block;
                transition: .4s;
                &_1 {
                    width: 25px;
                    height: 24px;
                    margin-right: 12px;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                &_2 {
                    width: 23px;
                    height: 25px;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .st0 {
                    fill: #e2cba2;
                }
            }
        }
    }
    .contact-form {
        max-width: 755px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(max-width: 1280px) {
            position: relative;
            margin: 0;
            left: 250px;
            width: 753px;
        }
        @media(max-width: 1279px) {
            margin: 0 auto;
            left: auto;
            width: auto;
        }
        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
        &__inputs {
            @media(max-width: 767px) {
                width: 100%;
            }
        }
        input {
            width: 362px;
            background: transparent;
            color: #fff;
            position:relative;
            z-index:200;
            font-size: 14px;
            &::-webkit-input-placeholder {
                color: #a6a6b3;
            }
            &::-moz-placeholder {
                color:#a6a6b3;
            }
            &:-moz-placeholder {
                color:#a6a6b3;
            }
            &:-ms-input-placeholder {
                color:#a6a6b3;
            }
            @media(max-width: 992px) {
                width: 350px;
            }
            @media(max-width: 850px) {
                width: 330px;
            }
            @media(max-width: 800px) {
                width: 310px;
            }
            @media(max-width: 767px) {
                width: 100%;
                margin: 0 auto 20px;
            }
            @media(max-width: 620px) {
                width: 100%;
            }
        }
        textarea {
            width: 350px;
            border: 1px solid #7e7e94;
            background: transparent;
            padding: 15px;
            height: 120px;
            display: block;
            transition: all 0.3s cubic-bezier(0, 0, 0, 1);
            color: #fff;
            cursor: pointer;
            resize: none;
            overflow: hidden;
            font-size: 14px;
            &::-webkit-input-placeholder {
                color: #a6a6b3;
            }
            &::-moz-placeholder {
                color:#a6a6b3;
            }
            &:-moz-placeholder {
                color:#a6a6b3;
            }
            &:-ms-input-placeholder {
                color:#a6a6b3;
            }
            @media(max-width: 1280px) {
                width: 363px;
            }
            @media(max-width: 992px) {
                width: 350px;
            }
            @media(max-width: 850px) {
                width: 330px;
            }
            @media(max-width: 800px) {
                width: 310px;
            }
            @media(max-width: 767px) {
                margin: 0 auto 20px;
            }
            @media(max-width: 620px) {
                width: 100%;
            }
            &:active,
            &:focus {
                border: 1px solid #e2cba2;
            }
        }
        &__submit {
            display: block;
            width: 170px !important;
            font-weight: 600;
            margin-top: 15px;
            background: #e2cba2 !important;
            color: #000 !important;
            transition: .3s;
            &:hover {
                opacity: .7;
            }
            @media(max-width: 375px) {
                width: 100% !important;
            }
        }
    }
}
.slide-show {
    &.box-contacts:before {
        animation-name: left-right-transform-before;
        animation-duration: 1.5s;
        animation-delay: .4;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        @media(max-width: 767px) {
            animation-name: none;
        }
    }
    #contact-form {
        animation-name: bottom-top-transform;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: .5s;
        @media(max-width: 767px) {
            animation-name: none;
        }
    }
    h2 {
        animation-name: head-translate;
        animation-duration: .8s;
        animation-fill-mode: both;
        @media(max-width: 767px) {
            animation-name: none;
        }
    }
    .box-contacts-method {
        animation-name: bottom-top-transform;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: .9s;
        @media(max-width: 767px) {
            animation-name: none;
        }
    }
}
.box-contacts-method .fa-phone {
    position: relative;
    top: -2px;
}
@-webkit-keyframes bottom-top-transform {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bottom-top-transform {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes left-right-transform-before {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes left-right-transform-before {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}





/*validation*/

#contact-form{
    label.error,
    label.ok {
    position:absolute;
    z-index:1;
    top:-4px;
    left:0;
    right:0;
    padding:5px 15px 5px 45px;
    /*reset label*/
    width:auto;
    text-align:left;
    margin:0;
    background-repeat:no-repeat;
    background-position:20px 11px;
    height: 35px;
    }

    label.ok {
    background-image:url(../img/icook.gif);
    background-color:#deefca;
    color:#577530;
    position: absolute;
    z-index: 1;
    top: -34px;
    left:0;
    right: 0;
    padding: 9px 15px 9px 45px;
    }

    label.error {
    background-image:url(../img/icofail.gif);
    background-color:#f5d6d7;
    color:#c81925;
    position: absolute;
    z-index: 1;
    top: -39px;
    left:0;
    right: 0;
    padding: 9px 15px 9px 45px;
    }

    .email-lable label.error,
    .email-lable label.ok{
        top:auto;
        bottom:-34px;
    }

    p{
        padding-bottom: 0;
        position: relative;
    }
}
#call-us{
    label.error,
    label.ok {
    position:absolute;
    z-index:1;
    top:-4px;
    left:0;
    right:0;
    padding:5px 15px 5px 45px;
    /*reset label*/
    width:auto;
    text-align:left;
    margin:0;
    background-repeat:no-repeat;
    background-position:20px 11px;
    height: 35px;
    }

    label.ok {
    background-image:url(../img/icook.gif);
    background-color:#deefca;
    color:#577530;
    position: absolute;
    z-index: 1;
    top: -34px;
    left:0;
    right: 0;
    padding: 9px 15px 9px 45px;
    }

    label.error {
    background-image:url(../img/icofail.gif);
    background-color:#f5d6d7;
    color:#c81925;
    position: absolute;
    z-index: 1;
    top: -35px;
    left:0;
    right: 0;
    padding: 9px 15px 9px 45px;
    }

    .email-lable label.error,
    .email-lable label.ok{
        top:auto;
        bottom:-34px;
    }

    .phone-valid label.error, 
    .phone-valid label.ok{
        top: auto;
        bottom: -35px;
    }

    p{
        padding-bottom: 0;
        position: relative;
    }
}

input.valid,textarea.valid{
    border-color: #58804e!important;
}
input.error,textarea.error{
    border-color: #9b3e46!important;
}
@media(max-width: 767px) {
    .area {
        width: 100%
    }
    .box-contacts__bottom {
        max-width: 390px;
        margin-left: auto;
        margin-right: auto;
    }
    .box-contacts .contact-form textarea {
        width: 100%
    }
    #contact-form label.error, #contact-form label.ok,
    #call-us label.error, #call-us label.ok {
        position: static;
        display: block;
        margin: -18px 0 10px;
    }

}
@media(max-width: 440px) {
    
    .box-contacts__bottom {
        max-width: 100%;
    }
}