#footer {
    bottom: 0;
    left: 0;
    height: 1px;
    position: fixed;
    right: 0;
    z-index: 9;
}
.footer-social {
    bottom: 5vh;
    left: 0;
    position: absolute;
    &__list {
        display: inline-block;
        &  + .footer-social__list {
            padding-left: 60px;
            position: relative;
            &:before {
                content: '';
                background: #555;
                bottom: -10px;
                display: block;
                left: 0;
                top: -10px;
                position: absolute;
                width: 1px;
            }
        }
    }
	&__link {
		color: #555;
        font-size: 20px;
        margin-right: 20px
	}
}