#header {
    font-size: 12px;
    font-weight: 900;
    left: 0;
    padding: 43px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    animation-name: header-animation;
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-delay: .4s;
    animation-timing-function: ease-in;
}

@keyframes header-animation{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    50% {
           opacity: .2;
    }
    100% {
        transform :translateY(0);
        opacity: 1;
    }
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rotate{
    animation: rotate 8s infinite;
    animation-fill-mode:forwards;
}

@keyframes rotate{
    0{

        }
    50%{
           transform: rotate(360deg);
        }
    100%{
        transform: rotate(360deg);
    }
}


.logo {
  width: 160px;
  height: 50px;
}
.logo-mob {
    display: none;
}


.logo-wrap{
    margin-left:1%;
    width: 160px;
    height: 50px;
}

.header-phone{
    margin-bottom: 12px;
    width: 20px;
}


.burger{
    cursor:pointer;
    position:relative;
    width:26px;
    position: absolute;
    right:75px;
    top: -5px;
    display: none;
}

.top-line,
.middle-line,
.bottom-line{
    height:2px;
    width:100%;
    background: $main-color;

}

.middle-line{
    margin:5px auto;
}
@media(max-width: 992px) {
    #header{
        padding-top: 25px;
    }
}
@media screen and (max-width: 767px), (max-height: 651px) {
    .burger{
        top:10px;
    }
}
@media screen and (max-width: 767px){
    .logo-wrap {

        margin-left: 0;
    }
    .burger {
        right: 60px;
    }
    .logo {
        width: 130px;
        height: auto;
        img{
            width:100%;
            height: auto;
        }

    }
    .header-phone {
        margin-bottom: 18px;
    }
    .burger {
        top: 6px;
    }
}
@media screen and (max-width: 767px) {
    .burger{
        display: block;
    }
    #header.fixed {
        background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
        padding-top: 23px
    }
}
