.box-frinchise {
    .box-frinchise-wrap-item {
        display: inline-flex !important;
        justify-content: space-between;
        .box-frinchise-left {
            width: 40%;
            padding-right: 50px;
            @media(max-width: 1024px) {
                width: 45%;
                padding-right: 30px;
            }
            h2 {
                font-size: 30px;
                color: #e2cba2;
                font-family: 'Roboto';
                font-weight: 800;
                margin-bottom: 28px;
                padding-left: 90px;
                position: relative;
                transform: translateX();
                span {
                    position: absolute;
                    left: 0;
                    top: -10px;
                    font-size: 77px;
                    font-weight: 100;
                }
            }
            .h2-descr {
                p {
                    color: #cfcfcf;
                    font-size: 14px;
                    font-weight: 300;
                    b {
                        font-weight: 500;
                    }
                }
            }
        }
        .box-frinchise-right {
            .frinchise-img {
                height: 500px;
                width: auto;
                overflow: hidden;
                @media(max-width: 1024px) {
                    height: 400px;
                }
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
    #frinchise-slider {
        position: relative;
        .slick-prev,
        .slick-next {
            position: absolute;
            top: 240px;
            background: transparent;
            display: block;
            width: 50px;
            height: 50px;
            left: 0px;
            font-size: 0;
            z-index: 10;
            &:before {
                top: 20px;
            }
        }
        .slick-next {
            left: 70px;
        }
    }
}
.box-frinchise .slick-active h2 {
    animation-name: head-translate;
    animation-duration: 1.5s;
}
.box-frinchise .slick-active .h2-descr p {
    animation-name: h2-descr-transform;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 1.2s;
}
.slick-active .box-frinchise-right img {
    animation-name: img-fade;
    animation-fill-mode: both;
    animation-duration: .7s;
    animation-delay: 1.6s;
}

@-webkit-keyframes head-translate {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes head-translate {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes h2-descr-transform {
    from {
        transform: translateY(300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes h2-descr-transform {
    from {
        transform: translateY(300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes img-fade {
    from {
        transform: translateY(300%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes img-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
